In [9]:
from sklearn import metrics
import numpy as np
import pandas as pd

In [3]:
# 符合wikipedia的计算
# https://en.wikipedia.org/wiki/Discounted_cumulative_gain

true_relevance = np.asarray([[3, 2, 3, 0, 1, 2, 3, 2]])
scores = np.asarray([[0.9, 0.8, 0.7, 0.6, 0.5, 0.4, 0.3, 0.2]])
metrics.ndcg_score(true_relevance, scores, k=6)

0.7850023719699477

In [8]:
# 以jd_id聚类
# 对于每一个jd_id，找到对应的cv_id列表，进而找到cv_id列表对应的real_label和pred_score
# 将real_label和pred_score送入ndcg_score()

In [10]:
# 读取对测试集的预测。测试集的规模14627。
model_label_pred_label = pd.read_pickle('../data_20220831/model_label_pred_label.pkl')

model_label_pred_label

,cv_id,jd_id,model_label,pred_label,0,1
0,2c9207157ef7ed7f017efd02e21e4e49,2c9207157d2f0ec5017d5a7504c72f8b,0,0,0.877076,0.122924
1,2c920715802399a801804bdec5c34543,2c920715800e886301801791ef1b53ee,0,0,0.982511,0.017489
2,2c92071581c8d04f0181cb3aa9f4639c,2c92071581c8c61e0181cc4416582615,0,1,0.200850,0.799150
3,2c920715802399a801804ba70b163677,2c920715800e886301801791ef1b53ee,0,0,0.928102,0.071898
4,2c92071580b3a89c0180d1cdb36c3c4b,2c920715816798cb01817f99f0341751,0,0,0.910424,0.089576
...,...,...,...,...,...,...
14622,2c92071581d380c20181ede1f6b4401f,2c92071581d380a00181dccc2ac54686,1,1,0.182305,0.817695
14623,2c9207157dec317f017e0e75e24d4ab8,2c9207157dec2c34017e05671af21551,1,1,0.238755,0.761245
14624,2c92071581d380c20181d7a76b390856,2c92071581cdd33b0181d224cbdf7b06,1,1,0.303029,0.696971
14625,2c920715816798dd01816b5b135e64b2,2c9207158114fb29018148007d475ade,1,1,0.060288,0.939712
14626,2c92071580f6d9840180f8d5ca77274a,2c92071580f6d9350180f8da1f1c57ef,1,1,0.112759,0.887241

In [11]:
# 对列进行重命名
model_label_pred_label = model_label_pred_label.rename(columns={'model_label': 'real_label', 0: 'prob_0', 1: 'prob_1'})
model_label_pred_label

,cv_id,jd_id,real_label,pred_label,prob_0,prob_1
0,2c9207157ef7ed7f017efd02e21e4e49,2c9207157d2f0ec5017d5a7504c72f8b,0,0,0.877076,0.122924
1,2c920715802399a801804bdec5c34543,2c920715800e886301801791ef1b53ee,0,0,0.982511,0.017489
2,2c92071581c8d04f0181cb3aa9f4639c,2c92071581c8c61e0181cc4416582615,0,1,0.200850,0.799150
3,2c920715802399a801804ba70b163677,2c920715800e886301801791ef1b53ee,0,0,0.928102,0.071898
4,2c92071580b3a89c0180d1cdb36c3c4b,2c920715816798cb01817f99f0341751,0,0,0.910424,0.089576
...,...,...,...,...,...,...
14622,2c92071581d380c20181ede1f6b4401f,2c92071581d380a00181dccc2ac54686,1,1,0.182305,0.817695
14623,2c9207157dec317f017e0e75e24d4ab8,2c9207157dec2c34017e05671af21551,1,1,0.238755,0.761245
14624,2c92071581d380c20181d7a76b390856,2c92071581cdd33b0181d224cbdf7b06,1,1,0.303029,0.696971
14625,2c920715816798dd01816b5b135e64b2,2c9207158114fb29018148007d475ade,1,1,0.060288,0.939712
14626,2c92071580f6d9840180f8d5ca77274a,2c92071580f6d9350180f8da1f1c57ef,1,1,0.112759,0.887241

In [47]:
# 对全集计算ndcg，过于优秀
true_relevance = np.asarray([model_label_pred_label['real_label']])
scores = np.asarray([model_label_pred_label['prob_1']])
metrics.ndcg_score(true_relevance, scores, k=2000)

0.8911464487972667

In [30]:
model_label_pred_label.columns

Index(['cv_id', 'jd_id', 'real_label', 'pred_label', 'prob_0', 'prob_1'], dtype='object')

In [35]:
model_label_pred_label.groupby('jd_id').count()

,cv_id,real_label,pred_label,prob_0,prob_1
jd_id,,,,,
2c9207157b9b9199017b9fd89ee80624,1,1,1,1,1
2c9207157b9b9199017b9fdf555f06d4,1,1,1,1,1
2c9207157b9b9199017ba610cfe10a9d,3,3,3,3,3
2c9207157b9b9199017baa5de4fc0b8c,3,3,3,3,3
2c9207157b9b9199017bc337d65424df,6,6,6,6,6
...,...,...,...,...,...
8a69f6f8823a93b9018243e49fd75b1a,3,3,3,3,3
8a69f6f8823a93b90182445e1f121976,1,1,1,1,1
8a69f6f8823a93b901824462647a1dd4,1,1,1,1,1
8a69f6f8823a93b9018247c30aca4e3d,1,1,1,1,1
8a69f6f8823a93b90182499e8b460530,1,1,1,1,1

In [31]:
model_label_pred_label.groupby('jd_id').groups

{'2c9207157b9b9199017b9fd89ee80624': [7191], '2c9207157b9b9199017b9fdf555f06d4': [7228], '2c9207157b9b9199017ba610cfe10a9d': [7894, 12887, 13086], '2c9207157b9b9199017baa5de4fc0b8c': [4732, 6587, 9218], '2c9207157b9b9199017bc337d65424df': [6723, 13119, 13471, 13829, 14021, 14276], '2c9207157b9b9199017bc350e08c2634': [6768, 8603], '2c9207157b9b9199017bc3fdcb9d27aa': [13433], '2c9207157b9b9199017bc45350e42a45': [2614, 2696, 2913], '2c9207157b9b9199017bc8401bb32f0d': [5567], '2c9207157b9b9199017bc84e6dc83038': [9902, 10277, 11970], '2c9207157b9b9199017bc86153a5359e': [1614], '2c9207157b9b9199017bc86d900e3728': [13727], '2c9207157b9b9199017bc8899dda3970': [12996], '2c9207157b9b9199017bc88d81a239eb': [8641], '2c9207157b9b9199017bc96b0eed3d98': [14057], '2c9207157bcbb76b017bcde2b46d04cd': [13235], '2c9207157bcbb76b017bce3af5f10534': [13866], '2c9207157bcbb76b017bce57133f080d': [7952], '2c9207157bcbb76b017bce6d49340bdb': [3567], '2c9207157bcbb76b017bcebd24dd0fcc': [5433], '2c9207157bcbb76b017bcecb125d10a8': [2848, 3019], '2c9207157bcbb76b017bec2b5f181a44': [12064], '2c9207157bcbb76b017bec40b06e1aac': [8187], '2c9207157bcbb76b017bec721d621c3f': [8694], '2c9207157bcbb76b017bed35e5622129': [9942], '2c9207157bcbb76b017bed436c342294': [7002], '2c9207157bcbb76b017bf1e0582e2a07': [3100, 14253], '2c9207157bcbb76b017bf2a77a352bc3': [4488], '2c9207157bcbb76b017bf2e9c4a12cb1': [2558], '2c9207157bcbb76b017bf32511cc2f24': [10110], '2c9207157bcbb76b017bf68a28002fea': [6678, 14511], '2c9207157bcbb76b017bf7f2bbbb3153': [6346], '2c9207157bcbb76b017bf7fafe4f31cb': [3547, 14371], '2c9207157bf94d99017c0b7228970186': [12521], '2c9207157bf94d99017c109ad1e30712': [6250, 9025], '2c9207157bf94d99017c10b7900c0942': [493, 926], '2c9207157bf94d99017c10bb64dd0a5b': [4872], '2c9207157bf94d99017c10cb63660b8d': [13706, 14435], '2c9207157bf94d99017c114549530f47': [6887], '2c9207157bf94d99017c16ba18a916ca': [2653], '2c9207157bf94d99017c175724ec19ee': [900, 9266], '2c9207157bf94d99017c200757d91ab1': [5535, 12172], '2c9207157bf94d99017c20f908201bfe': [2876], '2c9207157bf94d99017c20ff44911c76': [11460, 13742], '2c9207157bf94d99017c26f285f31f5f': [13198, 13343, 13455, 13623], '2c9207157bf94d99017c2f89592320ea': [24, 2025], '2c9207157bf94d99017c2f8a005c212f': [458, 588, 919, 3056], '2c9207157bf94d99017c34c37c3a2807': [3321], '2c9207157bf94d99017c62f896582c91': [14289], '2c9207157bf94d99017c630f9c2e2d02': [4917], '2c9207157bf94d99017c645a0e3e2dc8': [7804, 8416], '2c9207157bf94d99017c6ec7fe07306d': [13308], '2c9207157bf94d99017c6ecb294930b1': [13469], '2c9207157bf94d99017c7320b667324b': [13947], '2c9207157bf94d99017c73324a593481': [14527], '2c9207157bf94d99017c735bc7473765': [11907], '2c9207157bf94d99017c7379bdd03a5c': [2106, 2108], '2c9207157bf94d99017c785dfcaa3ce9': [14263], '2c9207157bf94d99017c787f22503e3f': [14082, 14274], '2c9207157bf94d99017c788077523eb2': [1802], '2c9207157bf94d99017c78828c203f9d': [12110], '2c9207157bf94d99017c78b0c51a4230': [921, 1955, 2075, 2272, 3058], '2c9207157bf94d99017c78d4785142f4': [1613], '2c9207157bf94d99017c78f34c234585': [9908], '2c9207157bf94d99017c78f7c3b345fc': [4481], '2c9207157bf94d99017c7a2a8cfb4685': [12395], '2c9207157bf94d99017c7c828d824a2d': [13344], '2c9207157bf94d99017c7e5487ad4bb9': [156, 7553, 13515, 13923], '2c9207157bf94d99017c9c5a23ea5540': [392, 592, 1972], '2c9207157bf94d99017c9cd6930657be': [758, 1195, 2781], '2c9207157c9f1e4f017ca786fe761177': [13315], '2c9207157c9f1e4f017ca78a824c11d3': [14091], '2c9207157cc0e656017cc64a1a6d019a': [227, 2009, 2177, 3132, 10073], '2c9207157cc0e656017cca85ab670614': [9147], '2c9207157ccbcd86017cd991ae46016d': [14212], '2c9207157ccbcd86017cdb5ab2e80261': [10288], '2c9207157ccbcd86017cde369e5a02cc': [12001], '2c9207157ccbcd86017ce003a12a0482': [14041], '2c9207157ccbcd86017ce469e95606c5': [594, 2523, 2885], '2c9207157ccbcd86017ce47c44970920': [5910], '2c9207157ccbcd86017ce4aa50620c48': [10767], '2c9207157ccbcd86017ce4ace7840d08': [376, 1100], '2c9207157ccbcd86017ce4c7f5d10e31': [4009, 5328, 5331], '2c9207157ccbcd86017ce8f966620fb0': [14070], '2c9207157ccbcd86017cef53b7ba1e4b': [6364], '2c9207157ccbcd86017cf93601fd25b4': [3284], '2c9207157ccbcd86017cfd2cd4d8260e': [14557], '2c9207157ccbcd86017cfe63f93c290a': [5587], '2c9207157ccbcd86017d033831a52ae4': [1035], '2c9207157ccbcd86017d08622b3e37f7': [11301, 13734], '2c9207157ccbcd86017d0957628b4d46': [13949], '2c9207157ccbcd86017d0992389854fe': [10749], '2c9207157ccbcd86017d0cbc90045670': [9440], '2c9207157ccbcd86017d0cd70b0756d4': [13417], '2c9207157ccbcd86017d0e24c91459ae': [13337], '2c9207157ccbcd86017d0e33c5d65ac8': [1819], '2c9207157ccbcd86017d0e36aace5b4f': [510, 1105, 1107, 1238, 2132, 2316, 2939], '2c9207157ccbcd86017d12402ab0609c': [2989], '2c9207157d162406017d266eac0202d4': [9761], '2c9207157d162406017d274d6f6c0483': [11998], ...}

In [32]:
model_label_pred_label[model_label_pred_label['jd_id']=='2c9207157b9b9199017ba610cfe10a9d']

,cv_id,jd_id,real_label,pred_label,prob_0,prob_1
7894,2c9207157e34cf67017e486f22714a28,2c9207157b9b9199017ba610cfe10a9d,0,0,0.648235,0.351765
12887,2c9207157bf91042017c15bcc52e1526,2c9207157b9b9199017ba610cfe10a9d,1,1,0.464496,0.535504
13086,2c9207157bf91042017c120e5fb7133f,2c9207157b9b9199017ba610cfe10a9d,1,1,0.428300,0.571700

In [51]:
model_label_pred_label.iloc[[7894, 12887, 13086]]

,cv_id,jd_id,real_label,pred_label,prob_0,prob_1
7894,2c9207157e34cf67017e486f22714a28,2c9207157b9b9199017ba610cfe10a9d,0,0,0.648235,0.351765
12887,2c9207157bf91042017c15bcc52e1526,2c9207157b9b9199017ba610cfe10a9d,1,1,0.464496,0.535504
13086,2c9207157bf91042017c120e5fb7133f,2c9207157b9b9199017ba610cfe10a9d,1,1,0.428300,0.571700

In [61]:
k = 5

ndcg_score_list = []
for jd_id, row_list in model_label_pred_label.groupby('jd_id').groups.items():
    jd_cv_list_df = model_label_pred_label.iloc[row_list]

    # 注意这里的jd_cv_list长度若为1，会报错
    if len(jd_cv_list_df) == 1:
        continue
    
    true_relevance = np.asarray([jd_cv_list_df['real_label']])
    scores = np.asarray([jd_cv_list_df['prob_1']])

    ndcg_score = metrics.ndcg_score(true_relevance, scores, k=1)

    ndcg_score_list.append(ndcg_score)

ndcg_score_list = np.array(ndcg_score_list)
ndcg_score_list.mean()

0.4871616932685635