In [1]:
import pandas as pd
import numpy as np

In [13]:
raw_ext_new_feature_label_resume_type = pd.read_csv('../data_20220831/raw_ext_new_feature_label_resume_type.csv').drop('Unnamed: 0', axis=1)
raw_ext_new_feature_label_resume_type

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,requirement_tfidf_pca,kills_tfidf_pca,title_category_tags_tfidf_pca,work_duration_mean,equal_job,parsed_desiredSalary,parsed_currentSalary,da_label,rank_label,resume_type
0,2c9207157bf91042017c0d2beef00470,2c9207157bcbb76b017bcde2b46d04cd,36.0,1,13.0,NaN,NaN,NaN,[],[],...,"[-0.0885833919216516, 0.1251912920110739, -0.0...","[0.332299671725948, 0.1661089355047844, 0.1869...","[-0.0428931610734227, -0.1624195901085068, 0.0...",1209.500000,3,-1,-1,3,3,NaN
1,2c9207157bf91042017c0d979cbb047d,2c9207157bcbb76b017bf7f2bbbb3153,29.0,1,7.0,NaN,NaN,NaN,[],[],...,"[-0.0801264640475711, 0.122717540913069, -0.01...","[0.2361554447739323, 0.1126566470966733, -0.24...","[-0.2347225490786922, 0.0825676460870139, 0.23...",506.000000,4,-1,-1,1,1,NaN
2,2c9207157bf91042017c7232fbab3be1,2c9207157bf94d99017c108f769405e0,NaN,1,14.0,NaN,NaN,NaN,[],[],...,"[-0.0644508985020475, 0.1611090469848189, -0.0...","[-0.0922030791609062, -0.1406030646715831, -0....","[-0.1959575316104875, 0.2008839134718935, -0.3...",811.500000,0,-1,-1,2,2,NaN
3,2c9207157d308592017d4a94cb1113a1,2c9207157d2f0ec5017d5a9265ba33d9,27.0,1,3.0,NaN,NaN,NaN,"['211', '双一流']",[],...,"[-0.1339726610662708, -0.1761763831994133, 0.0...","[0.1429396280466366, 0.0217622310718796, -0.14...","[-0.3678224323290787, 0.1854520957699004, 0.32...",76.500000,3,-1,-1,-1,2,4.0
4,2c9207157dabb0a3017dbca16cdf4c26,2c9207157d631abb017d6eed1c79139f,28.0,1,5.0,25.0,45.0,12.0,"['211', '双一流']",[],...,"[-0.0136365894358371, -0.0993886855789762, -0....","[-0.1003025481350853, -0.1495209206927971, -0....","[0.0062176220898476, -0.055003735259901, -0.00...",1034.000000,1,450,-1,1,1,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82328,8a69f60582c8626e0182c9fc367050e6,8a69c4df82b081d30182c391c1f51bfc,31.0,1,11.0,30.0,40.0,12.0,[],[],...,"[-0.1517178304086961, -0.1846200489563693, 0.1...","[0.3241805444120278, -0.0345988526341208, 0.26...","[-0.0954686272882023, -0.0493724436404325, 0.1...",1268.000000,4,-1,-1,3,3,4.0
82329,8a69f60582c8626e0182cedb7ca86dc8,8a69c47b82b07fdc0182b3dcd51b7a71,36.0,5,14.0,15.0,30.0,12.0,[],[],...,"[-0.1015761687785662, 0.0302194323476557, 0.04...","[0.0106236588110783, -0.1609745502874504, -0.0...","[-0.1288286036514234, -0.3332390781216969, 0.0...",1583.333333,3,120,120,3,3,4.0
82330,8a69f61382b080760182c37a984f3a9a,2c92071580dd3ab70180f18714e119c0,27.0,30,5.0,15.0,30.0,14.0,[],[],...,"[0.5440054441064249, -0.080866345740466, 0.135...","[-0.2612896440159119, 0.0846500996922437, 0.11...","[0.5515111960481315, 0.4001609626530521, 0.169...",487.000000,5,300,216,1,1,4.0
82331,8a69f64782e59cc90182f37791dc6649,8a69d77e82926b410182b011869b3b74,43.0,1,16.0,30.0,50.0,13.0,[],[],...,"[-0.0904644960948339, 0.3290683312687502, -0.0...","[0.079180668535461, -0.141120307479467, 0.0457...","[0.0103941678651557, -0.0621128773282237, -0.0...",968.666667,1,900,900,-1,2,4.0
82332,8a69f68b827cca09018284d2bd4d2958,2c92071581900df301819064f39848b3,32.0,1,10.0,70.0,150.0,12.0,[],[],...,"[-0.0829192751546949, 0.0604799060326174, -0.0...","[0.3494112900372027, 0.2215649108814544, -0.07...","[-0.231512912074985, 0.2246044911145827, -0.19...",1126.333333,2,720,-1,0,0,2.0

In [5]:
raw_ext_new_feature_label_resume_type.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82333 entries, 0 to 82332
Data columns (total 29 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   cv_id                          82333 non-null  object
 1   jd_id                          82333 non-null  object
 2   age                            75019 non-null  float64
 3   recruit_number                 82333 non-null  int64
 4   workYear                       76815 non-null  float64
 5   min_month_salary               79574 non-null  float64
 6   max_month_salary               79574 non-null  float64
 7   pay_months                     79574 non-null  float64
 8   school_labels_cv               82333 non-null  object
 9   school_labels_jd               82333 non-null  object
 10  expectlocation_range_cv        82333 non-null  object
 11  location_range_jd              82333 non-null  object
 12  degree_index_cv                82333 non-null  int64
 13  degree_index_jd                82333 non-null  int64
 14  workyear_range_jd              82333 non-null  object
 15  gender_index_cv                82333 non-null  int64
 16  job_intentstatus_cv            82333 non-null  int64
 17  description_tfidf_pca          82333 non-null  object
 18  position_tfidf_pca             82333 non-null  object
 19  requirement_tfidf_pca          82333 non-null  object
 20  kills_tfidf_pca                82333 non-null  object
 21  title_category_tags_tfidf_pca  82333 non-null  object
 22  work_duration_mean             76817 non-null  float64
 23  equal_job                      82333 non-null  int64
 24  parsed_desiredSalary           82333 non-null  int64
 25  parsed_currentSalary           82333 non-null  int64
 26  da_label                       82333 non-null  int64
 27  rank_label                     82333 non-null  int64
 28  resume_type                    80665 non-null  float64
dtypes: float64(7), int64(10), object(12)
memory usage: 18.2+ MB

In [4]:
raw_ext_new_feature_label_resume_type.columns

Index(['cv_id', 'jd_id', 'age', 'recruit_number', 'workYear',
       'min_month_salary', 'max_month_salary', 'pay_months',
       'school_labels_cv', 'school_labels_jd', 'expectlocation_range_cv',
       'location_range_jd', 'degree_index_cv', 'degree_index_jd',
       'workyear_range_jd', 'gender_index_cv', 'job_intentstatus_cv',
       'description_tfidf_pca', 'position_tfidf_pca', 'requirement_tfidf_pca',
       'kills_tfidf_pca', 'title_category_tags_tfidf_pca',
       'work_duration_mean', 'equal_job', 'parsed_desiredSalary',
       'parsed_currentSalary', 'da_label', 'rank_label', 'resume_type'],
      dtype='object')

## 正太分布进行缺失值填充

In [21]:
import numpy as np
a1= np.array([0,0,5,5])
a2= np.array([2,2,3,3])

print(a1.mean(), a2.mean()) # 2.5 2.5
print (a1.var() , a2.var()) # 6.25 0.25
print (a1.std() ,a2.std())  # 2.5 0.5

2.5 2.5
6.25 0.25
2.5 0.5

In [75]:
# 需要定义一个函数，给定列名和缺失值种类，返回填充好的数据
import copy

col_name = 'age'
test_df = copy.deepcopy(raw_ext_new_feature_label_resume_type)

def impute_missing_value_and_normalization_fun(test_df, col_name):
    col_value_list = []

    # 计算列的均值和方差
    for i in range(len(test_df)):
        col_value = test_df.loc[i, col_name]
        if pd.isnull(col_value):
            continue
        col_value_list.append(col_value)
    
    col_value_list = np.array(col_value_list)
    mu = col_value_list.mean()
    sigma = col_value_list.std()
    print(mu, sigma)

    # 填充列的缺失值
    for i in range(len(test_df)):
        col_value = test_df.loc[i, col_name]
        if pd.isnull(col_value):
            test_df.loc[i, col_name] = np.random.normal(mu, sigma)
        
    # 对列进行正态分布归一化
    for i in range(len(test_df)):
        col_value = test_df.loc[i, col_name]
        test_df.loc[i, col_name] = (col_value - mu)/sigma

    return test_df, mu, sigma

test_df, mu, sigma = impute_missing_value_and_normalization_fun(test_df, col_name)

32.42542555885842 5.976044393257488

In [76]:
test_df

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,requirement_tfidf_pca,kills_tfidf_pca,title_category_tags_tfidf_pca,work_duration_mean,equal_job,parsed_desiredSalary,parsed_currentSalary,da_label,rank_label,resume_type
0,2c9207157bf91042017c0d2beef00470,2c9207157bcbb76b017bcde2b46d04cd,0.598151,1,13.0,NaN,NaN,NaN,[],[],...,"[-0.0885833919216516, 0.1251912920110739, -0.0...","[0.332299671725948, 0.1661089355047844, 0.1869...","[-0.0428931610734227, -0.1624195901085068, 0.0...",1209.500000,3,-1,-1,3,3,NaN
1,2c9207157bf91042017c0d979cbb047d,2c9207157bcbb76b017bf7f2bbbb3153,-0.573193,1,7.0,NaN,NaN,NaN,[],[],...,"[-0.0801264640475711, 0.122717540913069, -0.01...","[0.2361554447739323, 0.1126566470966733, -0.24...","[-0.2347225490786922, 0.0825676460870139, 0.23...",506.000000,4,-1,-1,1,1,NaN
2,2c9207157bf91042017c7232fbab3be1,2c9207157bf94d99017c108f769405e0,-1.787157,1,14.0,NaN,NaN,NaN,[],[],...,"[-0.0644508985020475, 0.1611090469848189, -0.0...","[-0.0922030791609062, -0.1406030646715831, -0....","[-0.1959575316104875, 0.2008839134718935, -0.3...",811.500000,0,-1,-1,2,2,NaN
3,2c9207157d308592017d4a94cb1113a1,2c9207157d2f0ec5017d5a9265ba33d9,-0.907862,1,3.0,NaN,NaN,NaN,"['211', '双一流']",[],...,"[-0.1339726610662708, -0.1761763831994133, 0.0...","[0.1429396280466366, 0.0217622310718796, -0.14...","[-0.3678224323290787, 0.1854520957699004, 0.32...",76.500000,3,-1,-1,-1,2,4.0
4,2c9207157dabb0a3017dbca16cdf4c26,2c9207157d631abb017d6eed1c79139f,-0.740528,1,5.0,25.0,45.0,12.0,"['211', '双一流']",[],...,"[-0.0136365894358371, -0.0993886855789762, -0....","[-0.1003025481350853, -0.1495209206927971, -0....","[0.0062176220898476, -0.055003735259901, -0.00...",1034.000000,1,450,-1,1,1,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82328,8a69f60582c8626e0182c9fc367050e6,8a69c4df82b081d30182c391c1f51bfc,-0.238523,1,11.0,30.0,40.0,12.0,[],[],...,"[-0.1517178304086961, -0.1846200489563693, 0.1...","[0.3241805444120278, -0.0345988526341208, 0.26...","[-0.0954686272882023, -0.0493724436404325, 0.1...",1268.000000,4,-1,-1,3,3,4.0
82329,8a69f60582c8626e0182cedb7ca86dc8,8a69c47b82b07fdc0182b3dcd51b7a71,0.598151,5,14.0,15.0,30.0,12.0,[],[],...,"[-0.1015761687785662, 0.0302194323476557, 0.04...","[0.0106236588110783, -0.1609745502874504, -0.0...","[-0.1288286036514234, -0.3332390781216969, 0.0...",1583.333333,3,120,120,3,3,4.0
82330,8a69f61382b080760182c37a984f3a9a,2c92071580dd3ab70180f18714e119c0,-0.907862,30,5.0,15.0,30.0,14.0,[],[],...,"[0.5440054441064249, -0.080866345740466, 0.135...","[-0.2612896440159119, 0.0846500996922437, 0.11...","[0.5515111960481315, 0.4001609626530521, 0.169...",487.000000,5,300,216,1,1,4.0
82331,8a69f64782e59cc90182f37791dc6649,8a69d77e82926b410182b011869b3b74,1.769494,1,16.0,30.0,50.0,13.0,[],[],...,"[-0.0904644960948339, 0.3290683312687502, -0.0...","[0.079180668535461, -0.141120307479467, 0.0457...","[0.0103941678651557, -0.0621128773282237, -0.0...",968.666667,1,900,900,-1,2,4.0
82332,8a69f68b827cca09018284d2bd4d2958,2c92071581900df301819064f39848b3,-0.071188,1,10.0,70.0,150.0,12.0,[],[],...,"[-0.0829192751546949, 0.0604799060326174, -0.0...","[0.3494112900372027, 0.2215649108814544, -0.07...","[-0.231512912074985, 0.2246044911145827, -0.19...",1126.333333,2,720,-1,0,0,2.0

In [96]:
# 分母为sigma*sigma，明显看出来返回的数据不是标准正态分布
(np.random.normal(mu, sigma, 15) - mu)/sigma*sigma

array([13.19415771, -1.43410447, -6.20222364,  4.00515439,  0.18637406,
       -0.45449811, -4.30761852,  4.48141311, -4.32284277, -2.9766932 ,
        6.14357265, -2.95722093, -7.02677739,  2.57334497,  1.21268992])

# 复推集提取

In [98]:
#audit_state（4未处理：过滤，5放弃不会有order，6同意与101对应）
#resume_type: 2-AI人岗, 5-资深人工撮合, 6-复推, 普通猎头单不在其中（普通猎头正样本要去order里找）
#compatibility 规则打分(0-100)，AI人岗类型(resume_type=2)有效
#resume_source：忽略，resume_type=2，5，6时全都等于2，代表AI人岗和复推
test_df

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,requirement_tfidf_pca,kills_tfidf_pca,title_category_tags_tfidf_pca,work_duration_mean,equal_job,parsed_desiredSalary,parsed_currentSalary,da_label,rank_label,resume_type
0,2c9207157bf91042017c0d2beef00470,2c9207157bcbb76b017bcde2b46d04cd,0.598151,1,13.0,NaN,NaN,NaN,[],[],...,"[-0.0885833919216516, 0.1251912920110739, -0.0...","[0.332299671725948, 0.1661089355047844, 0.1869...","[-0.0428931610734227, -0.1624195901085068, 0.0...",1209.500000,3,-1,-1,3,3,NaN
1,2c9207157bf91042017c0d979cbb047d,2c9207157bcbb76b017bf7f2bbbb3153,-0.573193,1,7.0,NaN,NaN,NaN,[],[],...,"[-0.0801264640475711, 0.122717540913069, -0.01...","[0.2361554447739323, 0.1126566470966733, -0.24...","[-0.2347225490786922, 0.0825676460870139, 0.23...",506.000000,4,-1,-1,1,1,NaN
2,2c9207157bf91042017c7232fbab3be1,2c9207157bf94d99017c108f769405e0,-1.787157,1,14.0,NaN,NaN,NaN,[],[],...,"[-0.0644508985020475, 0.1611090469848189, -0.0...","[-0.0922030791609062, -0.1406030646715831, -0....","[-0.1959575316104875, 0.2008839134718935, -0.3...",811.500000,0,-1,-1,2,2,NaN
3,2c9207157d308592017d4a94cb1113a1,2c9207157d2f0ec5017d5a9265ba33d9,-0.907862,1,3.0,NaN,NaN,NaN,"['211', '双一流']",[],...,"[-0.1339726610662708, -0.1761763831994133, 0.0...","[0.1429396280466366, 0.0217622310718796, -0.14...","[-0.3678224323290787, 0.1854520957699004, 0.32...",76.500000,3,-1,-1,-1,2,4.0
4,2c9207157dabb0a3017dbca16cdf4c26,2c9207157d631abb017d6eed1c79139f,-0.740528,1,5.0,25.0,45.0,12.0,"['211', '双一流']",[],...,"[-0.0136365894358371, -0.0993886855789762, -0....","[-0.1003025481350853, -0.1495209206927971, -0....","[0.0062176220898476, -0.055003735259901, -0.00...",1034.000000,1,450,-1,1,1,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82328,8a69f60582c8626e0182c9fc367050e6,8a69c4df82b081d30182c391c1f51bfc,-0.238523,1,11.0,30.0,40.0,12.0,[],[],...,"[-0.1517178304086961, -0.1846200489563693, 0.1...","[0.3241805444120278, -0.0345988526341208, 0.26...","[-0.0954686272882023, -0.0493724436404325, 0.1...",1268.000000,4,-1,-1,3,3,4.0
82329,8a69f60582c8626e0182cedb7ca86dc8,8a69c47b82b07fdc0182b3dcd51b7a71,0.598151,5,14.0,15.0,30.0,12.0,[],[],...,"[-0.1015761687785662, 0.0302194323476557, 0.04...","[0.0106236588110783, -0.1609745502874504, -0.0...","[-0.1288286036514234, -0.3332390781216969, 0.0...",1583.333333,3,120,120,3,3,4.0
82330,8a69f61382b080760182c37a984f3a9a,2c92071580dd3ab70180f18714e119c0,-0.907862,30,5.0,15.0,30.0,14.0,[],[],...,"[0.5440054441064249, -0.080866345740466, 0.135...","[-0.2612896440159119, 0.0846500996922437, 0.11...","[0.5515111960481315, 0.4001609626530521, 0.169...",487.000000,5,300,216,1,1,4.0
82331,8a69f64782e59cc90182f37791dc6649,8a69d77e82926b410182b011869b3b74,1.769494,1,16.0,30.0,50.0,13.0,[],[],...,"[-0.0904644960948339, 0.3290683312687502, -0.0...","[0.079180668535461, -0.141120307479467, 0.0457...","[0.0103941678651557, -0.0621128773282237, -0.0...",968.666667,1,900,900,-1,2,4.0
82332,8a69f68b827cca09018284d2bd4d2958,2c92071581900df301819064f39848b3,-0.071188,1,10.0,70.0,150.0,12.0,[],[],...,"[-0.0829192751546949, 0.0604799060326174, -0.0...","[0.3494112900372027, 0.2215649108814544, -0.07...","[-0.231512912074985, 0.2246044911145827, -0.19...",1126.333333,2,720,-1,0,0,2.0

In [108]:
test_df['resume_type'][10] == 4

True

In [113]:
rerec_data = test_df[test_df['resume_type']==6]
rerec_data

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,requirement_tfidf_pca,kills_tfidf_pca,title_category_tags_tfidf_pca,work_duration_mean,equal_job,parsed_desiredSalary,parsed_currentSalary,da_label,rank_label,resume_type
228,2c92071580f6d9840180ffea3ae70284,2c9207157ef7ed16017efb6696353b11,-0.740528,1,5.0,40.0,70.0,14.0,[],[],...,"[-0.1286863059399647, -0.2703918780581468, -0....","[0.2104757730597323, 0.1095398531524816, -0.34...","[-0.2265948554965031, 0.2365975687445597, -0.2...",608.666667,2,-1,270,0,0,6.0
229,2c92071580f6d9840180ffea3ae70284,2c9207157ef7ed16017efca7c41522cf,-0.740528,1,5.0,30.0,50.0,14.0,[],[],...,"[-0.1286863059399647, -0.2703918780581468, -0....","[0.2104757730597323, 0.1095398531524816, -0.34...","[-0.2468591407567025, 0.3630902466565336, -0.3...",608.666667,2,-1,270,0,0,6.0
257,2c920715811ee1b901814751c8d575b4,2c9207157fbc99ce017fcfba4b353e48,-0.573193,1,5.0,20.0,25.0,12.0,"['985', '211', '双一流', 'qs100']",[],...,"[-0.0635984771163071, 0.1566419781432294, -0.0...","[0.0444780888386173, 0.1054034726172003, -0.12...","[-0.3690522371769096, 0.4612123417733267, -0.5...",898.000000,2,650,500,0,0,6.0
258,2c920715811ee1b901814751c8d575b4,2c92071581c8c61e0181cd2af3a41fc1,-0.573193,1,5.0,20.0,40.0,12.0,"['985', '211', '双一流', 'qs100']",[],...,"[-0.0579456853457267, -0.0713339990256664, -0....","[0.0444780888386173, 0.1054034726172003, -0.12...","[-0.2235705077862443, 0.3357177304447382, -0.3...",898.000000,2,650,500,0,0,6.0
290,2c92071581afaf4b0181b7caff713c2e,2c92071581900df30181951e9e0566b9,0.598151,1,12.0,25.0,45.0,15.0,"['985', '211', '双一流']",[],...,"[0.0394637124870746, 0.0977519032852919, -0.04...","[0.0352650096941871, -0.1091170841053118, 0.06...","[0.054213895114271, -0.0531060478281485, -0.03...",NaN,2,450,330,0,0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81836,2c920715811ee1b9018122634ef40a0c,2c9207158114fb29018123914662667b,-0.071188,1,7.0,30.0,60.0,12.0,[],[],...,"[-0.1012095218088791, -0.0520556537111129, -0....","[-0.0558309389275561, -0.1178218452662731, -0....","[-0.334069116493843, 0.1818655978459128, 0.489...",487.400000,0,-1,-1,0,0,6.0
81852,2c9207158160d6c3018161bc3acb30a6,2c9207158114fb2901814111cda42dc7,-0.241282,1,8.0,30.0,80.0,14.0,"['211', '双一流']",[],...,"[-0.0598641958745639, -0.0831534918677584, -0....","[0.0502929167196879, 0.2141882147104232, -0.06...","[0.0031251855626012, -0.0372985562817497, -0.0...",852.333333,4,-1,-1,0,0,6.0
82145,2c9207158059e82b0180776b26675c63,2c920715800e886301802080134114c6,0.096146,1,7.0,25.0,38.0,14.0,[],[],...,"[0.1724390256084213, 0.120637276861982, 0.0191...","[-0.144760694459176, -0.1354952219759398, -0.0...","[0.0954174343329668, 0.014156893281137, -0.018...",2527.000000,1,-1,-1,0,0,6.0
82219,2c920715811ee1b901813bb4a108323e,2c9207158114fb290181411575a132c7,0.094369,30,NaN,30.0,50.0,14.0,[],[],...,"[-0.0548999540439312, -0.1093718677773959, -0....","[-0.0950710757884233, -0.1473097543095731, -0....","[0.0314784058595657, -0.090467903967384, -0.05...",NaN,0,-1,-1,0,0,6.0
82312,8a69d7a68219933d01822023017b2ad0,2c9207158114fb290181411575a132c7,0.430816,30,15.0,30.0,50.0,14.0,"['211', '双一流']",[],...,"[-0.0548999540439312, -0.1093718677773959, -0....","[-0.0081324455606854, 0.2072682319331523, -0.1...","[0.0314784058595657, -0.090467903967384, -0.05...",1086.166667,4,-1,-1,0,0,6.0

In [115]:
train_test_data = test_df[~(test_df['resume_type']==6)]
train_test_data

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,requirement_tfidf_pca,kills_tfidf_pca,title_category_tags_tfidf_pca,work_duration_mean,equal_job,parsed_desiredSalary,parsed_currentSalary,da_label,rank_label,resume_type
0,2c9207157bf91042017c0d2beef00470,2c9207157bcbb76b017bcde2b46d04cd,0.598151,1,13.0,NaN,NaN,NaN,[],[],...,"[-0.0885833919216516, 0.1251912920110739, -0.0...","[0.332299671725948, 0.1661089355047844, 0.1869...","[-0.0428931610734227, -0.1624195901085068, 0.0...",1209.500000,3,-1,-1,3,3,NaN
1,2c9207157bf91042017c0d979cbb047d,2c9207157bcbb76b017bf7f2bbbb3153,-0.573193,1,7.0,NaN,NaN,NaN,[],[],...,"[-0.0801264640475711, 0.122717540913069, -0.01...","[0.2361554447739323, 0.1126566470966733, -0.24...","[-0.2347225490786922, 0.0825676460870139, 0.23...",506.000000,4,-1,-1,1,1,NaN
2,2c9207157bf91042017c7232fbab3be1,2c9207157bf94d99017c108f769405e0,-1.787157,1,14.0,NaN,NaN,NaN,[],[],...,"[-0.0644508985020475, 0.1611090469848189, -0.0...","[-0.0922030791609062, -0.1406030646715831, -0....","[-0.1959575316104875, 0.2008839134718935, -0.3...",811.500000,0,-1,-1,2,2,NaN
3,2c9207157d308592017d4a94cb1113a1,2c9207157d2f0ec5017d5a9265ba33d9,-0.907862,1,3.0,NaN,NaN,NaN,"['211', '双一流']",[],...,"[-0.1339726610662708, -0.1761763831994133, 0.0...","[0.1429396280466366, 0.0217622310718796, -0.14...","[-0.3678224323290787, 0.1854520957699004, 0.32...",76.500000,3,-1,-1,-1,2,4.0
4,2c9207157dabb0a3017dbca16cdf4c26,2c9207157d631abb017d6eed1c79139f,-0.740528,1,5.0,25.0,45.0,12.0,"['211', '双一流']",[],...,"[-0.0136365894358371, -0.0993886855789762, -0....","[-0.1003025481350853, -0.1495209206927971, -0....","[0.0062176220898476, -0.055003735259901, -0.00...",1034.000000,1,450,-1,1,1,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82328,8a69f60582c8626e0182c9fc367050e6,8a69c4df82b081d30182c391c1f51bfc,-0.238523,1,11.0,30.0,40.0,12.0,[],[],...,"[-0.1517178304086961, -0.1846200489563693, 0.1...","[0.3241805444120278, -0.0345988526341208, 0.26...","[-0.0954686272882023, -0.0493724436404325, 0.1...",1268.000000,4,-1,-1,3,3,4.0
82329,8a69f60582c8626e0182cedb7ca86dc8,8a69c47b82b07fdc0182b3dcd51b7a71,0.598151,5,14.0,15.0,30.0,12.0,[],[],...,"[-0.1015761687785662, 0.0302194323476557, 0.04...","[0.0106236588110783, -0.1609745502874504, -0.0...","[-0.1288286036514234, -0.3332390781216969, 0.0...",1583.333333,3,120,120,3,3,4.0
82330,8a69f61382b080760182c37a984f3a9a,2c92071580dd3ab70180f18714e119c0,-0.907862,30,5.0,15.0,30.0,14.0,[],[],...,"[0.5440054441064249, -0.080866345740466, 0.135...","[-0.2612896440159119, 0.0846500996922437, 0.11...","[0.5515111960481315, 0.4001609626530521, 0.169...",487.000000,5,300,216,1,1,4.0
82331,8a69f64782e59cc90182f37791dc6649,8a69d77e82926b410182b011869b3b74,1.769494,1,16.0,30.0,50.0,13.0,[],[],...,"[-0.0904644960948339, 0.3290683312687502, -0.0...","[0.079180668535461, -0.141120307479467, 0.0457...","[0.0103941678651557, -0.0621128773282237, -0.0...",968.666667,1,900,900,-1,2,4.0
82332,8a69f68b827cca09018284d2bd4d2958,2c92071581900df301819064f39848b3,-0.071188,1,10.0,70.0,150.0,12.0,[],[],...,"[-0.0829192751546949, 0.0604799060326174, -0.0...","[0.3494112900372027, 0.2215649108814544, -0.07...","[-0.231512912074985, 0.2246044911145827, -0.19...",1126.333333,2,720,-1,0,0,2.0

In [111]:
2769 + 79564

82333

In [119]:
train_test_data['rank_label'].value_counts()

1    31766
2    22404
0    16400
3     8994
Name: rank_label, dtype: int64

In [120]:
train_test_data['da_label'].value_counts()

 1    25333
 0    16400
 2    15297
-1    13540
 3     8994
Name: da_label, dtype: int64

In [141]:
# rank_label里有-1标签的数据，去除da_label=-1&rank_label=0（未收录）以及da_label=-1&rank_label=1的数据
train_test_data_filter = train_test_data[~((train_test_data['da_label']==-1)&(train_test_data['rank_label']==1))]
train_test_data_filter['rank_label'].value_counts()

# 和文档中的数据规模保持一致
# https://jinrirencai.feishu.cn/docx/doxcnsFcNXW3p3PlgZ471mAGP7t

1    25333
2    22404
0    16400
3     8994
Name: rank_label, dtype: int64

In [142]:
train_test_data_filter

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,requirement_tfidf_pca,kills_tfidf_pca,title_category_tags_tfidf_pca,work_duration_mean,equal_job,parsed_desiredSalary,parsed_currentSalary,da_label,rank_label,resume_type
0,2c9207157bf91042017c0d2beef00470,2c9207157bcbb76b017bcde2b46d04cd,0.598151,1,13.0,NaN,NaN,NaN,[],[],...,"[-0.0885833919216516, 0.1251912920110739, -0.0...","[0.332299671725948, 0.1661089355047844, 0.1869...","[-0.0428931610734227, -0.1624195901085068, 0.0...",1209.500000,3,-1,-1,3,3,NaN
1,2c9207157bf91042017c0d979cbb047d,2c9207157bcbb76b017bf7f2bbbb3153,-0.573193,1,7.0,NaN,NaN,NaN,[],[],...,"[-0.0801264640475711, 0.122717540913069, -0.01...","[0.2361554447739323, 0.1126566470966733, -0.24...","[-0.2347225490786922, 0.0825676460870139, 0.23...",506.000000,4,-1,-1,1,1,NaN
2,2c9207157bf91042017c7232fbab3be1,2c9207157bf94d99017c108f769405e0,-1.787157,1,14.0,NaN,NaN,NaN,[],[],...,"[-0.0644508985020475, 0.1611090469848189, -0.0...","[-0.0922030791609062, -0.1406030646715831, -0....","[-0.1959575316104875, 0.2008839134718935, -0.3...",811.500000,0,-1,-1,2,2,NaN
3,2c9207157d308592017d4a94cb1113a1,2c9207157d2f0ec5017d5a9265ba33d9,-0.907862,1,3.0,NaN,NaN,NaN,"['211', '双一流']",[],...,"[-0.1339726610662708, -0.1761763831994133, 0.0...","[0.1429396280466366, 0.0217622310718796, -0.14...","[-0.3678224323290787, 0.1854520957699004, 0.32...",76.500000,3,-1,-1,-1,2,4.0
4,2c9207157dabb0a3017dbca16cdf4c26,2c9207157d631abb017d6eed1c79139f,-0.740528,1,5.0,25.0,45.0,12.0,"['211', '双一流']",[],...,"[-0.0136365894358371, -0.0993886855789762, -0....","[-0.1003025481350853, -0.1495209206927971, -0....","[0.0062176220898476, -0.055003735259901, -0.00...",1034.000000,1,450,-1,1,1,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82328,8a69f60582c8626e0182c9fc367050e6,8a69c4df82b081d30182c391c1f51bfc,-0.238523,1,11.0,30.0,40.0,12.0,[],[],...,"[-0.1517178304086961, -0.1846200489563693, 0.1...","[0.3241805444120278, -0.0345988526341208, 0.26...","[-0.0954686272882023, -0.0493724436404325, 0.1...",1268.000000,4,-1,-1,3,3,4.0
82329,8a69f60582c8626e0182cedb7ca86dc8,8a69c47b82b07fdc0182b3dcd51b7a71,0.598151,5,14.0,15.0,30.0,12.0,[],[],...,"[-0.1015761687785662, 0.0302194323476557, 0.04...","[0.0106236588110783, -0.1609745502874504, -0.0...","[-0.1288286036514234, -0.3332390781216969, 0.0...",1583.333333,3,120,120,3,3,4.0
82330,8a69f61382b080760182c37a984f3a9a,2c92071580dd3ab70180f18714e119c0,-0.907862,30,5.0,15.0,30.0,14.0,[],[],...,"[0.5440054441064249, -0.080866345740466, 0.135...","[-0.2612896440159119, 0.0846500996922437, 0.11...","[0.5515111960481315, 0.4001609626530521, 0.169...",487.000000,5,300,216,1,1,4.0
82331,8a69f64782e59cc90182f37791dc6649,8a69d77e82926b410182b011869b3b74,1.769494,1,16.0,30.0,50.0,13.0,[],[],...,"[-0.0904644960948339, 0.3290683312687502, -0.0...","[0.079180668535461, -0.141120307479467, 0.0457...","[0.0103941678651557, -0.0621128773282237, -0.0...",968.666667,1,900,900,-1,2,4.0
82332,8a69f68b827cca09018284d2bd4d2958,2c92071581900df301819064f39848b3,-0.071188,1,10.0,70.0,150.0,12.0,[],[],...,"[-0.0829192751546949, 0.0604799060326174, -0.0...","[0.3494112900372027, 0.2215649108814544, -0.07...","[-0.231512912074985, 0.2246044911145827, -0.19...",1126.333333,2,720,-1,0,0,2.0

In [149]:
train_test_data_filter_0 = train_test_data_filter[train_test_data_filter['rank_label']==0]
train_test_data_filter_1 = train_test_data_filter[train_test_data_filter['rank_label']==1]
train_test_data_filter_2 = train_test_data_filter[train_test_data_filter['rank_label']==2]
train_test_data_filter_3 = train_test_data_filter[train_test_data_filter['rank_label']==3]

In [153]:
print(0, len(train_test_data_filter_0))
print(1, len(train_test_data_filter_1))
print(2, len(train_test_data_filter_2))
print(3, len(train_test_data_filter_3))

0 16400
1 25333
2 22404
3 8994