In [2]:
# 读入数据
import numpy as np
import pandas as pd

rerec_data = pd.read_csv('../data_20220831/rerec_data_2769.csv').drop('Unnamed: 0', axis=1)

In [3]:
rerec_data.columns

Index(['cv_id', 'jd_id', 'age', 'recruit_number', 'workYear',
       'min_month_salary', 'max_month_salary', 'pay_months',
       'school_labels_cv', 'school_labels_jd', 'expectlocation_range_cv',
       'location_range_jd', 'degree_index_cv', 'degree_index_jd',
       'workyear_range_jd', 'gender_index_cv', 'job_intentstatus_cv',
       'description_tfidf_pca', 'position_tfidf_pca', 'requirement_tfidf_pca',
       'kills_tfidf_pca', 'title_category_tags_tfidf_pca',
       'work_duration_mean', 'equal_job', 'parsed_desiredSalary',
       'parsed_currentSalary', 'da_label', 'rank_label', 'resume_type'],
      dtype='object')

In [4]:
rerec_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2769 entries, 0 to 2768
Data columns (total 29 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   cv_id                          2769 non-null   object
 1   jd_id                          2769 non-null   object
 2   age                            2423 non-null   float64
 3   recruit_number                 2769 non-null   int64
 4   workYear                       2495 non-null   float64
 5   min_month_salary               2751 non-null   float64
 6   max_month_salary               2751 non-null   float64
 7   pay_months                     2751 non-null   float64
 8   school_labels_cv               2769 non-null   object
 9   school_labels_jd               2769 non-null   object
 10  expectlocation_range_cv        2769 non-null   object
 11  location_range_jd              2769 non-null   object
 12  degree_index_cv                2769 non-null   int64
 13  degree_index_jd                2769 non-null   int64
 14  workyear_range_jd              2769 non-null   object
 15  gender_index_cv                2769 non-null   int64
 16  job_intentstatus_cv            2769 non-null   int64
 17  description_tfidf_pca          2769 non-null   object
 18  position_tfidf_pca             2769 non-null   object
 19  requirement_tfidf_pca          2769 non-null   object
 20  kills_tfidf_pca                2769 non-null   object
 21  title_category_tags_tfidf_pca  2769 non-null   object
 22  work_duration_mean             2544 non-null   float64
 23  equal_job                      2769 non-null   int64
 24  parsed_desiredSalary           2769 non-null   int64
 25  parsed_currentSalary           2769 non-null   int64
 26  da_label                       2769 non-null   int64
 27  rank_label                     2769 non-null   int64
 28  resume_type                    2769 non-null   float64
dtypes: float64(7), int64(10), object(12)
memory usage: 627.5+ KB

In [5]:
rerec_data

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,requirement_tfidf_pca,kills_tfidf_pca,title_category_tags_tfidf_pca,work_duration_mean,equal_job,parsed_desiredSalary,parsed_currentSalary,da_label,rank_label,resume_type
0,2c92071580f6d9840180ffea3ae70284,2c9207157ef7ed16017efb6696353b11,28.0,1,5.0,40.0,70.0,14.0,[],[],...,"[-0.1286863059399647, -0.2703918780581468, -0....","[0.2104757730597323, 0.1095398531524816, -0.34...","[-0.2265948554965031, 0.2365975687445597, -0.2...",608.666667,2,-1,270,0,0,6.0
1,2c92071580f6d9840180ffea3ae70284,2c9207157ef7ed16017efca7c41522cf,28.0,1,5.0,30.0,50.0,14.0,[],[],...,"[-0.1286863059399647, -0.2703918780581468, -0....","[0.2104757730597323, 0.1095398531524816, -0.34...","[-0.2468591407567025, 0.3630902466565336, -0.3...",608.666667,2,-1,270,0,0,6.0
2,2c920715811ee1b901814751c8d575b4,2c9207157fbc99ce017fcfba4b353e48,29.0,1,5.0,20.0,25.0,12.0,"['985', '211', '双一流', 'qs100']",[],...,"[-0.0635984771163071, 0.1566419781432294, -0.0...","[0.0444780888386173, 0.1054034726172003, -0.12...","[-0.3690522371769096, 0.4612123417733267, -0.5...",898.000000,2,650,500,0,0,6.0
3,2c920715811ee1b901814751c8d575b4,2c92071581c8c61e0181cd2af3a41fc1,29.0,1,5.0,20.0,40.0,12.0,"['985', '211', '双一流', 'qs100']",[],...,"[-0.0579456853457267, -0.0713339990256664, -0....","[0.0444780888386173, 0.1054034726172003, -0.12...","[-0.2235705077862443, 0.3357177304447382, -0.3...",898.000000,2,650,500,0,0,6.0
4,2c92071581afaf4b0181b7caff713c2e,2c92071581900df30181951e9e0566b9,36.0,1,12.0,25.0,45.0,15.0,"['985', '211', '双一流']",[],...,"[0.0394637124870746, 0.0977519032852919, -0.04...","[0.0352650096941871, -0.1091170841053118, 0.06...","[0.054213895114271, -0.0531060478281485, -0.03...",NaN,2,450,330,0,0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2764,2c920715811ee1b9018122634ef40a0c,2c9207158114fb29018123914662667b,32.0,1,7.0,30.0,60.0,12.0,[],[],...,"[-0.1012095218088791, -0.0520556537111129, -0....","[-0.0558309389275561, -0.1178218452662731, -0....","[-0.334069116493843, 0.1818655978459128, 0.489...",487.400000,0,-1,-1,0,0,6.0
2765,2c9207158160d6c3018161bc3acb30a6,2c9207158114fb2901814111cda42dc7,NaN,1,8.0,30.0,80.0,14.0,"['211', '双一流']",[],...,"[-0.0598641958745639, -0.0831534918677584, -0....","[0.0502929167196879, 0.2141882147104232, -0.06...","[0.0031251855626012, -0.0372985562817497, -0.0...",852.333333,4,-1,-1,0,0,6.0
2766,2c9207158059e82b0180776b26675c63,2c920715800e886301802080134114c6,33.0,1,7.0,25.0,38.0,14.0,[],[],...,"[0.1724390256084213, 0.120637276861982, 0.0191...","[-0.144760694459176, -0.1354952219759398, -0.0...","[0.0954174343329668, 0.014156893281137, -0.018...",2527.000000,1,-1,-1,0,0,6.0
2767,2c920715811ee1b901813bb4a108323e,2c9207158114fb290181411575a132c7,NaN,30,NaN,30.0,50.0,14.0,[],[],...,"[-0.0548999540439312, -0.1093718677773959, -0....","[-0.0950710757884233, -0.1473097543095731, -0....","[0.0314784058595657, -0.090467903967384, -0.05...",NaN,0,-1,-1,0,0,6.0
2768,8a69d7a68219933d01822023017b2ad0,2c9207158114fb290181411575a132c7,35.0,30,15.0,30.0,50.0,14.0,"['211', '双一流']",[],...,"[-0.0548999540439312, -0.1093718677773959, -0....","[-0.0081324455606854, 0.2072682319331523, -0.1...","[0.0314784058595657, -0.090467903967384, -0.05...",1086.166667,4,-1,-1,0,0,6.0

In [6]:
rerec_data['rank_label'].value_counts()

0    2633
1     106
2      25
3       5
Name: rank_label, dtype: int64

In [7]:
rerec_data['da_label'].value_counts()

 0    2633
 1      64
-1      46
 2      21
 3       5
Name: da_label, dtype: int64

In [8]:
rerec_data_filter = rerec_data[~((rerec_data['da_label']==-1)&(rerec_data['rank_label']==1))]
rerec_data_filter

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,requirement_tfidf_pca,kills_tfidf_pca,title_category_tags_tfidf_pca,work_duration_mean,equal_job,parsed_desiredSalary,parsed_currentSalary,da_label,rank_label,resume_type
0,2c92071580f6d9840180ffea3ae70284,2c9207157ef7ed16017efb6696353b11,28.0,1,5.0,40.0,70.0,14.0,[],[],...,"[-0.1286863059399647, -0.2703918780581468, -0....","[0.2104757730597323, 0.1095398531524816, -0.34...","[-0.2265948554965031, 0.2365975687445597, -0.2...",608.666667,2,-1,270,0,0,6.0
1,2c92071580f6d9840180ffea3ae70284,2c9207157ef7ed16017efca7c41522cf,28.0,1,5.0,30.0,50.0,14.0,[],[],...,"[-0.1286863059399647, -0.2703918780581468, -0....","[0.2104757730597323, 0.1095398531524816, -0.34...","[-0.2468591407567025, 0.3630902466565336, -0.3...",608.666667,2,-1,270,0,0,6.0
2,2c920715811ee1b901814751c8d575b4,2c9207157fbc99ce017fcfba4b353e48,29.0,1,5.0,20.0,25.0,12.0,"['985', '211', '双一流', 'qs100']",[],...,"[-0.0635984771163071, 0.1566419781432294, -0.0...","[0.0444780888386173, 0.1054034726172003, -0.12...","[-0.3690522371769096, 0.4612123417733267, -0.5...",898.000000,2,650,500,0,0,6.0
3,2c920715811ee1b901814751c8d575b4,2c92071581c8c61e0181cd2af3a41fc1,29.0,1,5.0,20.0,40.0,12.0,"['985', '211', '双一流', 'qs100']",[],...,"[-0.0579456853457267, -0.0713339990256664, -0....","[0.0444780888386173, 0.1054034726172003, -0.12...","[-0.2235705077862443, 0.3357177304447382, -0.3...",898.000000,2,650,500,0,0,6.0
4,2c92071581afaf4b0181b7caff713c2e,2c92071581900df30181951e9e0566b9,36.0,1,12.0,25.0,45.0,15.0,"['985', '211', '双一流']",[],...,"[0.0394637124870746, 0.0977519032852919, -0.04...","[0.0352650096941871, -0.1091170841053118, 0.06...","[0.054213895114271, -0.0531060478281485, -0.03...",NaN,2,450,330,0,0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2764,2c920715811ee1b9018122634ef40a0c,2c9207158114fb29018123914662667b,32.0,1,7.0,30.0,60.0,12.0,[],[],...,"[-0.1012095218088791, -0.0520556537111129, -0....","[-0.0558309389275561, -0.1178218452662731, -0....","[-0.334069116493843, 0.1818655978459128, 0.489...",487.400000,0,-1,-1,0,0,6.0
2765,2c9207158160d6c3018161bc3acb30a6,2c9207158114fb2901814111cda42dc7,NaN,1,8.0,30.0,80.0,14.0,"['211', '双一流']",[],...,"[-0.0598641958745639, -0.0831534918677584, -0....","[0.0502929167196879, 0.2141882147104232, -0.06...","[0.0031251855626012, -0.0372985562817497, -0.0...",852.333333,4,-1,-1,0,0,6.0
2766,2c9207158059e82b0180776b26675c63,2c920715800e886301802080134114c6,33.0,1,7.0,25.0,38.0,14.0,[],[],...,"[0.1724390256084213, 0.120637276861982, 0.0191...","[-0.144760694459176, -0.1354952219759398, -0.0...","[0.0954174343329668, 0.014156893281137, -0.018...",2527.000000,1,-1,-1,0,0,6.0
2767,2c920715811ee1b901813bb4a108323e,2c9207158114fb290181411575a132c7,NaN,30,NaN,30.0,50.0,14.0,[],[],...,"[-0.0548999540439312, -0.1093718677773959, -0....","[-0.0950710757884233, -0.1473097543095731, -0....","[0.0314784058595657, -0.090467903967384, -0.05...",NaN,0,-1,-1,0,0,6.0
2768,8a69d7a68219933d01822023017b2ad0,2c9207158114fb290181411575a132c7,35.0,30,15.0,30.0,50.0,14.0,"['211', '双一流']",[],...,"[-0.0548999540439312, -0.1093718677773959, -0....","[-0.0081324455606854, 0.2072682319331523, -0.1...","[0.0314784058595657, -0.090467903967384, -0.05...",1086.166667,4,-1,-1,0,0,6.0

In [9]:
rerec_data_filter['rank_label'].value_counts()

0    2633
1      64
2      25
3       5
Name: rank_label, dtype: int64

In [10]:
# 中位数填充
from sklearn.impute import SimpleImputer

imp = SimpleImputer(missing_values=np.nan, strategy='median')
rerec_data_filter['age'] = imp.fit_transform(rerec_data_filter[['age']])
rerec_data_filter['workYear'] = imp.fit_transform(rerec_data_filter[['workYear']])
rerec_data_filter['min_month_salary'] = imp.fit_transform(rerec_data_filter[['min_month_salary']])
rerec_data_filter['max_month_salary'] = imp.fit_transform(rerec_data_filter[['max_month_salary']])
rerec_data_filter['pay_months'] = imp.fit_transform(rerec_data_filter[['pay_months']])
rerec_data_filter['work_duration_mean'] = imp.fit_transform(rerec_data_filter[['work_duration_mean']])

imp = SimpleImputer(missing_values=-1, strategy='median')
# 这两个只能选一个接入模型
rerec_data_filter['parsed_desiredSalary'] = imp.fit_transform(rerec_data_filter[['parsed_desiredSalary']])
rerec_data_filter['parsed_currentSalary'] = imp.fit_transform(rerec_data_filter[['parsed_currentSalary']])
rerec_data_filter

/Users/jinrirencai/opt/anaconda3/envs/tsinghua/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/jinrirencai/opt/anaconda3/envs/tsinghua/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/jinrirencai/opt/anaconda3/envs/tsinghua/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/Users/jinrirencai/opt/anaconda3/envs/tsinghua/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/jinrirencai/opt/anaconda3/envs/tsinghua/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/Users/jinrirencai/opt/anaconda3/envs/tsinghua/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/jinrirencai/opt/anaconda3/envs/tsinghua/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/jinrirencai/opt/anaconda3/envs/tsinghua/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,requirement_tfidf_pca,kills_tfidf_pca,title_category_tags_tfidf_pca,work_duration_mean,equal_job,parsed_desiredSalary,parsed_currentSalary,da_label,rank_label,resume_type
0,2c92071580f6d9840180ffea3ae70284,2c9207157ef7ed16017efb6696353b11,28.0,1,5.0,40.0,70.0,14.0,[],[],...,"[-0.1286863059399647, -0.2703918780581468, -0....","[0.2104757730597323, 0.1095398531524816, -0.34...","[-0.2265948554965031, 0.2365975687445597, -0.2...",608.666667,2,420.0,270.0,0,0,6.0
1,2c92071580f6d9840180ffea3ae70284,2c9207157ef7ed16017efca7c41522cf,28.0,1,5.0,30.0,50.0,14.0,[],[],...,"[-0.1286863059399647, -0.2703918780581468, -0....","[0.2104757730597323, 0.1095398531524816, -0.34...","[-0.2468591407567025, 0.3630902466565336, -0.3...",608.666667,2,420.0,270.0,0,0,6.0
2,2c920715811ee1b901814751c8d575b4,2c9207157fbc99ce017fcfba4b353e48,29.0,1,5.0,20.0,25.0,12.0,"['985', '211', '双一流', 'qs100']",[],...,"[-0.0635984771163071, 0.1566419781432294, -0.0...","[0.0444780888386173, 0.1054034726172003, -0.12...","[-0.3690522371769096, 0.4612123417733267, -0.5...",898.000000,2,650.0,500.0,0,0,6.0
3,2c920715811ee1b901814751c8d575b4,2c92071581c8c61e0181cd2af3a41fc1,29.0,1,5.0,20.0,40.0,12.0,"['985', '211', '双一流', 'qs100']",[],...,"[-0.0579456853457267, -0.0713339990256664, -0....","[0.0444780888386173, 0.1054034726172003, -0.12...","[-0.2235705077862443, 0.3357177304447382, -0.3...",898.000000,2,650.0,500.0,0,0,6.0
4,2c92071581afaf4b0181b7caff713c2e,2c92071581900df30181951e9e0566b9,36.0,1,12.0,25.0,45.0,15.0,"['985', '211', '双一流']",[],...,"[0.0394637124870746, 0.0977519032852919, -0.04...","[0.0352650096941871, -0.1091170841053118, 0.06...","[0.054213895114271, -0.0531060478281485, -0.03...",751.000000,2,450.0,330.0,0,0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2764,2c920715811ee1b9018122634ef40a0c,2c9207158114fb29018123914662667b,32.0,1,7.0,30.0,60.0,12.0,[],[],...,"[-0.1012095218088791, -0.0520556537111129, -0....","[-0.0558309389275561, -0.1178218452662731, -0....","[-0.334069116493843, 0.1818655978459128, 0.489...",487.400000,0,420.0,320.0,0,0,6.0
2765,2c9207158160d6c3018161bc3acb30a6,2c9207158114fb2901814111cda42dc7,31.0,1,8.0,30.0,80.0,14.0,"['211', '双一流']",[],...,"[-0.0598641958745639, -0.0831534918677584, -0....","[0.0502929167196879, 0.2141882147104232, -0.06...","[0.0031251855626012, -0.0372985562817497, -0.0...",852.333333,4,420.0,320.0,0,0,6.0
2766,2c9207158059e82b0180776b26675c63,2c920715800e886301802080134114c6,33.0,1,7.0,25.0,38.0,14.0,[],[],...,"[0.1724390256084213, 0.120637276861982, 0.0191...","[-0.144760694459176, -0.1354952219759398, -0.0...","[0.0954174343329668, 0.014156893281137, -0.018...",2527.000000,1,420.0,320.0,0,0,6.0
2767,2c920715811ee1b901813bb4a108323e,2c9207158114fb290181411575a132c7,31.0,30,7.0,30.0,50.0,14.0,[],[],...,"[-0.0548999540439312, -0.1093718677773959, -0....","[-0.0950710757884233, -0.1473097543095731, -0....","[0.0314784058595657, -0.090467903967384, -0.05...",751.000000,0,420.0,320.0,0,0,6.0
2768,8a69d7a68219933d01822023017b2ad0,2c9207158114fb290181411575a132c7,35.0,30,15.0,30.0,50.0,14.0,"['211', '双一流']",[],...,"[-0.0548999540439312, -0.1093718677773959, -0....","[-0.0081324455606854, 0.2072682319331523, -0.1...","[0.0314784058595657, -0.090467903967384, -0.05...",1086.166667,4,420.0,320.0,0,0,6.0

# 手动cross

In [11]:
rerec_data_filter.columns

Index(['cv_id', 'jd_id', 'age', 'recruit_number', 'workYear',
       'min_month_salary', 'max_month_salary', 'pay_months',
       'school_labels_cv', 'school_labels_jd', 'expectlocation_range_cv',
       'location_range_jd', 'degree_index_cv', 'degree_index_jd',
       'workyear_range_jd', 'gender_index_cv', 'job_intentstatus_cv',
       'description_tfidf_pca', 'position_tfidf_pca', 'requirement_tfidf_pca',
       'kills_tfidf_pca', 'title_category_tags_tfidf_pca',
       'work_duration_mean', 'equal_job', 'parsed_desiredSalary',
       'parsed_currentSalary', 'da_label', 'rank_label', 'resume_type'],
      dtype='object')

In [12]:
# 首先把school_labels_cv和school_labels_jd转成列表
def school_lables_to_list(series, school_col):
    school_labels = series[school_col]
    school_labels_list = [item.strip('\'') for item in school_labels.strip('[]').replace(' ', '').split(',')]
    if school_labels_list[0] == '':
        return []
    return school_labels_list
rerec_data_filter['school_labels_cv_list'] = rerec_data_filter.apply(school_lables_to_list, axis=1, args=('school_labels_cv', ))
rerec_data_filter['school_labels_jd_list'] = rerec_data_filter.apply(school_lables_to_list, axis=1, args=('school_labels_jd', ))

rerec_data_filter

/Users/jinrirencai/opt/anaconda3/envs/tsinghua/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/jinrirencai/opt/anaconda3/envs/tsinghua/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,title_category_tags_tfidf_pca,work_duration_mean,equal_job,parsed_desiredSalary,parsed_currentSalary,da_label,rank_label,resume_type,school_labels_cv_list,school_labels_jd_list
0,2c92071580f6d9840180ffea3ae70284,2c9207157ef7ed16017efb6696353b11,28.0,1,5.0,40.0,70.0,14.0,[],[],...,"[-0.2265948554965031, 0.2365975687445597, -0.2...",608.666667,2,420.0,270.0,0,0,6.0,[],[]
1,2c92071580f6d9840180ffea3ae70284,2c9207157ef7ed16017efca7c41522cf,28.0,1,5.0,30.0,50.0,14.0,[],[],...,"[-0.2468591407567025, 0.3630902466565336, -0.3...",608.666667,2,420.0,270.0,0,0,6.0,[],[]
2,2c920715811ee1b901814751c8d575b4,2c9207157fbc99ce017fcfba4b353e48,29.0,1,5.0,20.0,25.0,12.0,"['985', '211', '双一流', 'qs100']",[],...,"[-0.3690522371769096, 0.4612123417733267, -0.5...",898.000000,2,650.0,500.0,0,0,6.0,"[985, 211, 双一流, qs100]",[]
3,2c920715811ee1b901814751c8d575b4,2c92071581c8c61e0181cd2af3a41fc1,29.0,1,5.0,20.0,40.0,12.0,"['985', '211', '双一流', 'qs100']",[],...,"[-0.2235705077862443, 0.3357177304447382, -0.3...",898.000000,2,650.0,500.0,0,0,6.0,"[985, 211, 双一流, qs100]",[]
4,2c92071581afaf4b0181b7caff713c2e,2c92071581900df30181951e9e0566b9,36.0,1,12.0,25.0,45.0,15.0,"['985', '211', '双一流']",[],...,"[0.054213895114271, -0.0531060478281485, -0.03...",751.000000,2,450.0,330.0,0,0,6.0,"[985, 211, 双一流]",[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2764,2c920715811ee1b9018122634ef40a0c,2c9207158114fb29018123914662667b,32.0,1,7.0,30.0,60.0,12.0,[],[],...,"[-0.334069116493843, 0.1818655978459128, 0.489...",487.400000,0,420.0,320.0,0,0,6.0,[],[]
2765,2c9207158160d6c3018161bc3acb30a6,2c9207158114fb2901814111cda42dc7,31.0,1,8.0,30.0,80.0,14.0,"['211', '双一流']",[],...,"[0.0031251855626012, -0.0372985562817497, -0.0...",852.333333,4,420.0,320.0,0,0,6.0,"[211, 双一流]",[]
2766,2c9207158059e82b0180776b26675c63,2c920715800e886301802080134114c6,33.0,1,7.0,25.0,38.0,14.0,[],[],...,"[0.0954174343329668, 0.014156893281137, -0.018...",2527.000000,1,420.0,320.0,0,0,6.0,[],[]
2767,2c920715811ee1b901813bb4a108323e,2c9207158114fb290181411575a132c7,31.0,30,7.0,30.0,50.0,14.0,[],[],...,"[0.0314784058595657, -0.090467903967384, -0.05...",751.000000,0,420.0,320.0,0,0,6.0,[],[]
2768,8a69d7a68219933d01822023017b2ad0,2c9207158114fb290181411575a132c7,35.0,30,15.0,30.0,50.0,14.0,"['211', '双一流']",[],...,"[0.0314784058595657, -0.090467903967384, -0.05...",1086.166667,4,420.0,320.0,0,0,6.0,"[211, 双一流]",[]

In [13]:
def school_intersect_cvjd(series, school_labels_cv, school_labels_jd):
    school_labels_cv = series[school_labels_cv]
    school_labels_jd = series[school_labels_jd]
    # jd没有学历要求or解析不出来
    if not school_labels_jd:
        return 1
    if set(school_labels_cv).intersection(set(school_labels_jd)):
        return 1
    return 0

rerec_data_filter['school_intersect_cvjd'] = rerec_data_filter.apply(school_intersect_cvjd, axis=1, args=('school_labels_cv_list', 'school_labels_jd_list'))
rerec_data_filter

/Users/jinrirencai/opt/anaconda3/envs/tsinghua/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,work_duration_mean,equal_job,parsed_desiredSalary,parsed_currentSalary,da_label,rank_label,resume_type,school_labels_cv_list,school_labels_jd_list,school_intersect_cvjd
0,2c92071580f6d9840180ffea3ae70284,2c9207157ef7ed16017efb6696353b11,28.0,1,5.0,40.0,70.0,14.0,[],[],...,608.666667,2,420.0,270.0,0,0,6.0,[],[],1
1,2c92071580f6d9840180ffea3ae70284,2c9207157ef7ed16017efca7c41522cf,28.0,1,5.0,30.0,50.0,14.0,[],[],...,608.666667,2,420.0,270.0,0,0,6.0,[],[],1
2,2c920715811ee1b901814751c8d575b4,2c9207157fbc99ce017fcfba4b353e48,29.0,1,5.0,20.0,25.0,12.0,"['985', '211', '双一流', 'qs100']",[],...,898.000000,2,650.0,500.0,0,0,6.0,"[985, 211, 双一流, qs100]",[],1
3,2c920715811ee1b901814751c8d575b4,2c92071581c8c61e0181cd2af3a41fc1,29.0,1,5.0,20.0,40.0,12.0,"['985', '211', '双一流', 'qs100']",[],...,898.000000,2,650.0,500.0,0,0,6.0,"[985, 211, 双一流, qs100]",[],1
4,2c92071581afaf4b0181b7caff713c2e,2c92071581900df30181951e9e0566b9,36.0,1,12.0,25.0,45.0,15.0,"['985', '211', '双一流']",[],...,751.000000,2,450.0,330.0,0,0,6.0,"[985, 211, 双一流]",[],1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2764,2c920715811ee1b9018122634ef40a0c,2c9207158114fb29018123914662667b,32.0,1,7.0,30.0,60.0,12.0,[],[],...,487.400000,0,420.0,320.0,0,0,6.0,[],[],1
2765,2c9207158160d6c3018161bc3acb30a6,2c9207158114fb2901814111cda42dc7,31.0,1,8.0,30.0,80.0,14.0,"['211', '双一流']",[],...,852.333333,4,420.0,320.0,0,0,6.0,"[211, 双一流]",[],1
2766,2c9207158059e82b0180776b26675c63,2c920715800e886301802080134114c6,33.0,1,7.0,25.0,38.0,14.0,[],[],...,2527.000000,1,420.0,320.0,0,0,6.0,[],[],1
2767,2c920715811ee1b901813bb4a108323e,2c9207158114fb290181411575a132c7,31.0,30,7.0,30.0,50.0,14.0,[],[],...,751.000000,0,420.0,320.0,0,0,6.0,[],[],1
2768,8a69d7a68219933d01822023017b2ad0,2c9207158114fb290181411575a132c7,35.0,30,15.0,30.0,50.0,14.0,"['211', '双一流']",[],...,1086.166667,4,420.0,320.0,0,0,6.0,"[211, 双一流]",[],1

In [14]:
# 首先把expectlocation_range_cv和location_range_jd转成列表
def school_lables_to_list(series, location_col):
    location_labels = series[location_col]
    location_labels_list = [item.strip('\'') for item in location_labels.strip('[]').replace(' ', '').split(',')]
    if location_labels_list[0] == '':
        return []
    return location_labels_list

rerec_data_filter['location_range_jd_list'] = rerec_data_filter.apply(school_lables_to_list, axis=1, args=('location_range_jd', ))
rerec_data_filter['expectlocation_range_cv_list'] = rerec_data_filter.apply(school_lables_to_list, axis=1, args=('expectlocation_range_cv', ))

rerec_data_filter

/Users/jinrirencai/opt/anaconda3/envs/tsinghua/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/Users/jinrirencai/opt/anaconda3/envs/tsinghua/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,parsed_desiredSalary,parsed_currentSalary,da_label,rank_label,resume_type,school_labels_cv_list,school_labels_jd_list,school_intersect_cvjd,location_range_jd_list,expectlocation_range_cv_list
0,2c92071580f6d9840180ffea3ae70284,2c9207157ef7ed16017efb6696353b11,28.0,1,5.0,40.0,70.0,14.0,[],[],...,420.0,270.0,0,0,6.0,[],[],1,[],[未知市]
1,2c92071580f6d9840180ffea3ae70284,2c9207157ef7ed16017efca7c41522cf,28.0,1,5.0,30.0,50.0,14.0,[],[],...,420.0,270.0,0,0,6.0,[],[],1,[],[未知市]
2,2c920715811ee1b901814751c8d575b4,2c9207157fbc99ce017fcfba4b353e48,29.0,1,5.0,20.0,25.0,12.0,"['985', '211', '双一流', 'qs100']",[],...,650.0,500.0,0,0,6.0,"[985, 211, 双一流, qs100]",[],1,[],[未知市]
3,2c920715811ee1b901814751c8d575b4,2c92071581c8c61e0181cd2af3a41fc1,29.0,1,5.0,20.0,40.0,12.0,"['985', '211', '双一流', 'qs100']",[],...,650.0,500.0,0,0,6.0,"[985, 211, 双一流, qs100]",[],1,[],[未知市]
4,2c92071581afaf4b0181b7caff713c2e,2c92071581900df30181951e9e0566b9,36.0,1,12.0,25.0,45.0,15.0,"['985', '211', '双一流']",[],...,450.0,330.0,0,0,6.0,"[985, 211, 双一流]",[],1,[],[重庆市]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2764,2c920715811ee1b9018122634ef40a0c,2c9207158114fb29018123914662667b,32.0,1,7.0,30.0,60.0,12.0,[],[],...,420.0,320.0,0,0,6.0,[],[],1,[],[未知市]
2765,2c9207158160d6c3018161bc3acb30a6,2c9207158114fb2901814111cda42dc7,31.0,1,8.0,30.0,80.0,14.0,"['211', '双一流']",[],...,420.0,320.0,0,0,6.0,"[211, 双一流]",[],1,[],[未知市]
2766,2c9207158059e82b0180776b26675c63,2c920715800e886301802080134114c6,33.0,1,7.0,25.0,38.0,14.0,[],[],...,420.0,320.0,0,0,6.0,[],[],1,[],[未知市]
2767,2c920715811ee1b901813bb4a108323e,2c9207158114fb290181411575a132c7,31.0,30,7.0,30.0,50.0,14.0,[],[],...,420.0,320.0,0,0,6.0,[],[],1,[],[未知市]
2768,8a69d7a68219933d01822023017b2ad0,2c9207158114fb290181411575a132c7,35.0,30,15.0,30.0,50.0,14.0,"['211', '双一流']",[],...,420.0,320.0,0,0,6.0,"[211, 双一流]",[],1,[],"[北京市, 上海市]"

In [15]:
def location_intersect_cvjd(series, location_labels_cv, location_labels_jd):
    location_labels_cv = series[location_labels_cv]
    location_labels_jd = series[location_labels_jd]
    # 如果jd没有地域
    if not location_labels_jd:
        return 1
    if set(location_labels_cv).intersection(set(location_labels_jd)):
        return 1
    return 0

rerec_data_filter['location_intersect_cvjd'] = rerec_data_filter.apply(location_intersect_cvjd, axis=1, args=('expectlocation_range_cv_list', 'location_range_jd_list'))
rerec_data_filter

/Users/jinrirencai/opt/anaconda3/envs/tsinghua/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,parsed_currentSalary,da_label,rank_label,resume_type,school_labels_cv_list,school_labels_jd_list,school_intersect_cvjd,location_range_jd_list,expectlocation_range_cv_list,location_intersect_cvjd
0,2c92071580f6d9840180ffea3ae70284,2c9207157ef7ed16017efb6696353b11,28.0,1,5.0,40.0,70.0,14.0,[],[],...,270.0,0,0,6.0,[],[],1,[],[未知市],1
1,2c92071580f6d9840180ffea3ae70284,2c9207157ef7ed16017efca7c41522cf,28.0,1,5.0,30.0,50.0,14.0,[],[],...,270.0,0,0,6.0,[],[],1,[],[未知市],1
2,2c920715811ee1b901814751c8d575b4,2c9207157fbc99ce017fcfba4b353e48,29.0,1,5.0,20.0,25.0,12.0,"['985', '211', '双一流', 'qs100']",[],...,500.0,0,0,6.0,"[985, 211, 双一流, qs100]",[],1,[],[未知市],1
3,2c920715811ee1b901814751c8d575b4,2c92071581c8c61e0181cd2af3a41fc1,29.0,1,5.0,20.0,40.0,12.0,"['985', '211', '双一流', 'qs100']",[],...,500.0,0,0,6.0,"[985, 211, 双一流, qs100]",[],1,[],[未知市],1
4,2c92071581afaf4b0181b7caff713c2e,2c92071581900df30181951e9e0566b9,36.0,1,12.0,25.0,45.0,15.0,"['985', '211', '双一流']",[],...,330.0,0,0,6.0,"[985, 211, 双一流]",[],1,[],[重庆市],1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2764,2c920715811ee1b9018122634ef40a0c,2c9207158114fb29018123914662667b,32.0,1,7.0,30.0,60.0,12.0,[],[],...,320.0,0,0,6.0,[],[],1,[],[未知市],1
2765,2c9207158160d6c3018161bc3acb30a6,2c9207158114fb2901814111cda42dc7,31.0,1,8.0,30.0,80.0,14.0,"['211', '双一流']",[],...,320.0,0,0,6.0,"[211, 双一流]",[],1,[],[未知市],1
2766,2c9207158059e82b0180776b26675c63,2c920715800e886301802080134114c6,33.0,1,7.0,25.0,38.0,14.0,[],[],...,320.0,0,0,6.0,[],[],1,[],[未知市],1
2767,2c920715811ee1b901813bb4a108323e,2c9207158114fb290181411575a132c7,31.0,30,7.0,30.0,50.0,14.0,[],[],...,320.0,0,0,6.0,[],[],1,[],[未知市],1
2768,8a69d7a68219933d01822023017b2ad0,2c9207158114fb290181411575a132c7,35.0,30,15.0,30.0,50.0,14.0,"['211', '双一流']",[],...,320.0,0,0,6.0,"[211, 双一流]",[],1,[],"[北京市, 上海市]",1

In [16]:
def degree_match_cvjd(series, degree_index_cv, degree_index_jd):
    degree_index_cv = series['degree_index_cv']
    degree_index_jd = series['degree_index_jd']
    if degree_index_cv >= degree_index_jd:
        return 1
    else:
        return 0

rerec_data_filter['degree_match_cvjd'] = rerec_data_filter.apply(degree_match_cvjd, axis=1, args=('degree_index_cv', 'degree_index_jd'))
rerec_data_filter

/Users/jinrirencai/opt/anaconda3/envs/tsinghua/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,da_label,rank_label,resume_type,school_labels_cv_list,school_labels_jd_list,school_intersect_cvjd,location_range_jd_list,expectlocation_range_cv_list,location_intersect_cvjd,degree_match_cvjd
0,2c92071580f6d9840180ffea3ae70284,2c9207157ef7ed16017efb6696353b11,28.0,1,5.0,40.0,70.0,14.0,[],[],...,0,0,6.0,[],[],1,[],[未知市],1,1
1,2c92071580f6d9840180ffea3ae70284,2c9207157ef7ed16017efca7c41522cf,28.0,1,5.0,30.0,50.0,14.0,[],[],...,0,0,6.0,[],[],1,[],[未知市],1,1
2,2c920715811ee1b901814751c8d575b4,2c9207157fbc99ce017fcfba4b353e48,29.0,1,5.0,20.0,25.0,12.0,"['985', '211', '双一流', 'qs100']",[],...,0,0,6.0,"[985, 211, 双一流, qs100]",[],1,[],[未知市],1,1
3,2c920715811ee1b901814751c8d575b4,2c92071581c8c61e0181cd2af3a41fc1,29.0,1,5.0,20.0,40.0,12.0,"['985', '211', '双一流', 'qs100']",[],...,0,0,6.0,"[985, 211, 双一流, qs100]",[],1,[],[未知市],1,1
4,2c92071581afaf4b0181b7caff713c2e,2c92071581900df30181951e9e0566b9,36.0,1,12.0,25.0,45.0,15.0,"['985', '211', '双一流']",[],...,0,0,6.0,"[985, 211, 双一流]",[],1,[],[重庆市],1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2764,2c920715811ee1b9018122634ef40a0c,2c9207158114fb29018123914662667b,32.0,1,7.0,30.0,60.0,12.0,[],[],...,0,0,6.0,[],[],1,[],[未知市],1,0
2765,2c9207158160d6c3018161bc3acb30a6,2c9207158114fb2901814111cda42dc7,31.0,1,8.0,30.0,80.0,14.0,"['211', '双一流']",[],...,0,0,6.0,"[211, 双一流]",[],1,[],[未知市],1,1
2766,2c9207158059e82b0180776b26675c63,2c920715800e886301802080134114c6,33.0,1,7.0,25.0,38.0,14.0,[],[],...,0,0,6.0,[],[],1,[],[未知市],1,1
2767,2c920715811ee1b901813bb4a108323e,2c9207158114fb290181411575a132c7,31.0,30,7.0,30.0,50.0,14.0,[],[],...,0,0,6.0,[],[],1,[],[未知市],1,1
2768,8a69d7a68219933d01822023017b2ad0,2c9207158114fb290181411575a132c7,35.0,30,15.0,30.0,50.0,14.0,"['211', '双一流']",[],...,0,0,6.0,"[211, 双一流]",[],1,[],"[北京市, 上海市]",1,1

In [17]:
def model_label_gen(series, rank_label):
    rank_label = series[rank_label]
    if rank_label in [0, 1]:
        return 0
    return 1
rerec_data_filter['model_label'] = rerec_data_filter.apply(model_label_gen, axis=1, args=('rank_label', ))
rerec_data_filter

/Users/jinrirencai/opt/anaconda3/envs/tsinghua/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,rank_label,resume_type,school_labels_cv_list,school_labels_jd_list,school_intersect_cvjd,location_range_jd_list,expectlocation_range_cv_list,location_intersect_cvjd,degree_match_cvjd,model_label
0,2c92071580f6d9840180ffea3ae70284,2c9207157ef7ed16017efb6696353b11,28.0,1,5.0,40.0,70.0,14.0,[],[],...,0,6.0,[],[],1,[],[未知市],1,1,0
1,2c92071580f6d9840180ffea3ae70284,2c9207157ef7ed16017efca7c41522cf,28.0,1,5.0,30.0,50.0,14.0,[],[],...,0,6.0,[],[],1,[],[未知市],1,1,0
2,2c920715811ee1b901814751c8d575b4,2c9207157fbc99ce017fcfba4b353e48,29.0,1,5.0,20.0,25.0,12.0,"['985', '211', '双一流', 'qs100']",[],...,0,6.0,"[985, 211, 双一流, qs100]",[],1,[],[未知市],1,1,0
3,2c920715811ee1b901814751c8d575b4,2c92071581c8c61e0181cd2af3a41fc1,29.0,1,5.0,20.0,40.0,12.0,"['985', '211', '双一流', 'qs100']",[],...,0,6.0,"[985, 211, 双一流, qs100]",[],1,[],[未知市],1,1,0
4,2c92071581afaf4b0181b7caff713c2e,2c92071581900df30181951e9e0566b9,36.0,1,12.0,25.0,45.0,15.0,"['985', '211', '双一流']",[],...,0,6.0,"[985, 211, 双一流]",[],1,[],[重庆市],1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2764,2c920715811ee1b9018122634ef40a0c,2c9207158114fb29018123914662667b,32.0,1,7.0,30.0,60.0,12.0,[],[],...,0,6.0,[],[],1,[],[未知市],1,0,0
2765,2c9207158160d6c3018161bc3acb30a6,2c9207158114fb2901814111cda42dc7,31.0,1,8.0,30.0,80.0,14.0,"['211', '双一流']",[],...,0,6.0,"[211, 双一流]",[],1,[],[未知市],1,1,0
2766,2c9207158059e82b0180776b26675c63,2c920715800e886301802080134114c6,33.0,1,7.0,25.0,38.0,14.0,[],[],...,0,6.0,[],[],1,[],[未知市],1,1,0
2767,2c920715811ee1b901813bb4a108323e,2c9207158114fb290181411575a132c7,31.0,30,7.0,30.0,50.0,14.0,[],[],...,0,6.0,[],[],1,[],[未知市],1,1,0
2768,8a69d7a68219933d01822023017b2ad0,2c9207158114fb290181411575a132c7,35.0,30,15.0,30.0,50.0,14.0,"['211', '双一流']",[],...,0,6.0,"[211, 双一流]",[],1,[],"[北京市, 上海市]",1,1,0

In [18]:
rerec_data_filter['model_label'].value_counts()

0    2697
1      30
Name: model_label, dtype: int64

In [19]:
# 将jd中的月薪转成年薪
def multiply_cols_fun(series, col1, col2):
    col1_value = series[col1]
    col2_value = series[col2]
    return col1_value * col2_value

rerec_data_filter['min_annual_salary'] = rerec_data_filter.apply(multiply_cols_fun, axis=1, args=('min_month_salary', 'pay_months'))
rerec_data_filter['max_annual_salary'] = rerec_data_filter.apply(multiply_cols_fun, axis=1, args=('max_month_salary', 'pay_months'))

/Users/jinrirencai/opt/anaconda3/envs/tsinghua/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/Users/jinrirencai/opt/anaconda3/envs/tsinghua/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [20]:
# 先把workyear_range_jd转成列表
def school_lables_to_list(series, location_col):
    location_labels = series[location_col]
    location_labels_list = [item.strip('\'') for item in location_labels.strip('[]').replace(' ', '').split(',')]
    first = int(location_labels_list[0])
    second = int(location_labels_list[1])
    return [first, second]

rerec_data_filter['workyear_range_jd_list'] = rerec_data_filter.apply(school_lables_to_list, axis=1, args=('workyear_range_jd', ))

rerec_data_filter[['workyear_range_jd', 'workyear_range_jd_list']]

/Users/jinrirencai/opt/anaconda3/envs/tsinghua/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

     workyear_range_jd workyear_range_jd_list
0              [5, 10]                [5, 10]
1               [3, 5]                 [3, 5]
2               [1, 3]                 [1, 3]
3               [3, 5]                 [3, 5]
4              [5, 10]                [5, 10]
...                ...                    ...
2764           [5, 10]                [5, 10]
2765            [0, 1]                 [0, 1]
2766           [5, 10]                [5, 10]
2767           [5, 10]                [5, 10]
2768           [5, 10]                [5, 10]

[2727 rows x 2 columns]

In [21]:
# work year match
def workYear_match_fun(series, workyear_range_jd_list, workYear):
    workyear_range = series[workyear_range_jd_list]
    workYear = series[workYear]
    if workyear_range[0] <= workYear <= workyear_range[1]:
        return 1
    else:
        return 0
    
rerec_data_filter['workyear_match_cvjd'] = rerec_data_filter.apply(workYear_match_fun, axis=1, args=('workyear_range_jd_list', 'workYear'))

/Users/jinrirencai/opt/anaconda3/envs/tsinghua/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [22]:
def keyU_label_fun(series, school_labels_cv_list):
    school_labels = series[school_labels_cv_list]
    if school_labels:
        return 1
    else:
        return 0
rerec_data_filter['keyU'] = rerec_data_filter.apply(keyU_label_fun, axis=1, args=('school_labels_cv_list',))

/Users/jinrirencai/opt/anaconda3/envs/tsinghua/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [23]:
# 数据ok
rerec_data_filter[['school_labels_cv_list', 'keyU', 'school_labels_jd_list']]

       school_labels_cv_list  keyU school_labels_jd_list
0                         []     0                    []
1                         []     0                    []
2     [985, 211, 双一流, qs100]     1                    []
3     [985, 211, 双一流, qs100]     1                    []
4            [985, 211, 双一流]     1                    []
...                      ...   ...                   ...
2764                      []     0                    []
2765              [211, 双一流]     1                    []
2766                      []     0                    []
2767                      []     0                    []
2768              [211, 双一流]     1                    []

[2727 rows x 3 columns]

In [24]:
def school_lables_to_list(series, school_col):
    school_labels = series[school_col]
    school_labels_list = [float(item) for item in school_labels.strip('[]').replace(' ', '').split(',')]
    if school_labels_list[0] == '':
        return []
    return school_labels_list
rerec_data_filter['description_tfidf_pca'] = rerec_data_filter.apply(school_lables_to_list, axis=1, args=('description_tfidf_pca', ))
rerec_data_filter['position_tfidf_pca'] = rerec_data_filter.apply(school_lables_to_list, axis=1, args=('position_tfidf_pca', ))
rerec_data_filter['requirement_tfidf_pca'] = rerec_data_filter.apply(school_lables_to_list, axis=1, args=('requirement_tfidf_pca', ))
rerec_data_filter['kills_tfidf_pca'] = rerec_data_filter.apply(school_lables_to_list, axis=1, args=('kills_tfidf_pca', ))
rerec_data_filter['title_category_tags_tfidf_pca'] = rerec_data_filter.apply(school_lables_to_list, axis=1, args=('title_category_tags_tfidf_pca', ))

/Users/jinrirencai/opt/anaconda3/envs/tsinghua/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/Users/jinrirencai/opt/anaconda3/envs/tsinghua/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/jinrirencai/opt/anaconda3/envs/tsinghua/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/Users/jinrirencai/opt/anaconda3/envs/tsinghua/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/jinrirencai/opt/anaconda3/envs/tsinghua/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [25]:
rerec_data_filter.shape

(2727, 42)

In [26]:
# 几个list如何处理
# parsed_currentSalary特征不使用
# min_month_salary和max_month_salary分别乘以pay_months，得到年薪数据，以k为单位。已处理
# salary特征可信度不高，清华模型就是简单的输入deep侧，除此以外没有任何处理。
COLUMNS = ['age', 'recruit_number', 'workYear', 'min_annual_salary', 'max_annual_salary', 
            'degree_index_cv', 'degree_index_jd', 'gender_index_cv', 'job_intentstatus_cv',
            'description_tfidf_pca', 'position_tfidf_pca', 'requirement_tfidf_pca', 'kills_tfidf_pca', 'title_category_tags_tfidf_pca',
            'work_duration_mean', 'equal_job', 'parsed_desiredSalary', 'school_intersect_cvjd', 'location_intersect_cvjd',
            'degree_match_cvjd', 'workyear_match_cvjd', 'keyU']

LABEL_COLUMN = "model_label"

# 离散特征
CATEGORICAL_COLUMNS = ['degree_index_cv', 'degree_index_jd', 'gender_index_cv', 'job_intentstatus_cv', 'school_intersect_cvjd',
                        'location_intersect_cvjd', 'degree_match_cvjd', 'workyear_match_cvjd', 'keyU']

# 文本向量特征
ARRAY_COLUMNS = ['description_tfidf_pca', 'position_tfidf_pca', 'requirement_tfidf_pca', 'kills_tfidf_pca', 'title_category_tags_tfidf_pca']

# 连续特征
CONTINUOUS_COLUMNS = ['age', 'recruit_number', 'workYear', 'min_annual_salary', 'max_annual_salary', 
                    'work_duration_mean', 'equal_job', 'parsed_desiredSalary', ]

In [27]:
COLUMNS.sort()
print(COLUMNS)
print(len(COLUMNS))

['age', 'degree_index_cv', 'degree_index_jd', 'degree_match_cvjd', 'description_tfidf_pca', 'equal_job', 'gender_index_cv', 'job_intentstatus_cv', 'keyU', 'kills_tfidf_pca', 'location_intersect_cvjd', 'max_annual_salary', 'min_annual_salary', 'parsed_desiredSalary', 'position_tfidf_pca', 'recruit_number', 'requirement_tfidf_pca', 'school_intersect_cvjd', 'title_category_tags_tfidf_pca', 'workYear', 'work_duration_mean', 'workyear_match_cvjd']
22

In [28]:
all_columns = ['cv_id', 'jd_id', 'model_label'] + COLUMNS
print(all_columns)
print(len(all_columns))

['cv_id', 'jd_id', 'model_label', 'age', 'degree_index_cv', 'degree_index_jd', 'degree_match_cvjd', 'description_tfidf_pca', 'equal_job', 'gender_index_cv', 'job_intentstatus_cv', 'keyU', 'kills_tfidf_pca', 'location_intersect_cvjd', 'max_annual_salary', 'min_annual_salary', 'parsed_desiredSalary', 'position_tfidf_pca', 'recruit_number', 'requirement_tfidf_pca', 'school_intersect_cvjd', 'title_category_tags_tfidf_pca', 'workYear', 'work_duration_mean', 'workyear_match_cvjd']
25

In [29]:
rerec_data_filter[all_columns].to_pickle('../data_20220831/sample_rerec_data_processed_processed.pkl')