In [2]:
import re
import json
import numpy as np
import pandas as pd
import jieba
from zhconv import convert
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import PCA

In [3]:
# 读取20220831的所有数据
all_data = pd.read_csv('../data_20220831/raw_cvjd_20220831_spark.csv').drop(['Unnamed: 0'], axis=1)

/var/folders/99/wft1658s2mv39cv4wj_rcpqh0000gp/T/ipykernel_35274/1764276053.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  all_data = pd.read_csv('../data_20220831/raw_cvjd_20220831_spark.csv').drop(['Unnamed: 0'], axis=1)

In [ ]:
# 将raw_cvjd_20220831_spark.csv的数据精简，只取有用的列
# new_columns = ['cv_id', 'jd_id', 'title', 'category_name', 'recruit_number', 'min_month_salary', 'max_month_salary', 'pay_months', 'tags', 'description', 'requirement', 'currentPosition', ]

In [2]:
# 读入20220821所有数据
#all_data = pd.read_csv('../data/all_sample_20220821_spark.csv').drop(['Unnamed: 0'], axis=1)

/var/folders/b0/f13r09ys4819g6vy91gl1_zr0000gn/T/ipykernel_67195/3330071591.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  all_data = pd.read_csv('../data/all_sample_20220821_spark.csv').drop(['Unnamed: 0'], axis=1)

In [6]:
all_data.columns

Index(['cv_id', 'jd_id', 'jd_code', 'title', 'deadline', 'category_id',
       'category_name', 'company_id', 'company_name', 'recruit_number',
       'work_age', 'min_annual_salary', 'max_annual_salary',
       'min_month_salary', 'max_month_salary', 'pay_months', 'created_by_name',
       'created_by', 'created_at', 'updated_by', 'updated_at', 'tenant_id',
       'guarantee_period', 'status', 'recommended_rcn', 'tags', 'workplaces',
       'description', 'school', 'degree', 'post_level_id', 'requirement', 'ds',
       '_id', 'additionInfo', 'age', 'certificates', 'code', 'competenceScore',
       'completeness', 'countryCode', 'createdAt', 'createdBy',
       'currentCompany', 'currentPosition', 'currentSalary', 'dateOfBirth',
       'degree.1', 'desiredIndustry', 'desiredPosition', 'desiredSalary',
       'dutyTime', 'expectLocation', 'gender', 'importType', 'industry',
       'interviewTime', 'jobIntentStatus', 'languageSkills', 'languages',
       'location', 'maintainerId', 'majorName', 'maritalStatus', 'name',
       'ownerId', 'resignReason', 'schoolName', 'selfEvaluation', 'skills',
       'sourceId', 'sourceSite', 'sourceType', 'tenantId', 'uncompletedField',
       'updatedAt', 'updatedBy', 'updatedTime', 'uploaderId', 'version',
       'workYear', 'avatar', 'eduTracks', 'jobTracks', 'projectTracks',
       'ds.1'],
      dtype='object')

In [7]:
all_data[['work_age', 'workYear']]

      work_age  workYear
0        5-10年      13.0
1         3-5年       7.0
2        10年以上      14.0
3         3-5年       3.0
4         3-5年       5.0
...        ...       ...
83296     5年以上      11.0
83297    5-10年      14.0
83298     3-5年       5.0
83299     3-5年      16.0
83300       不限      10.0

[83301 rows x 2 columns]

## 理清需要用的特征

In [8]:
# 这些特征在sample pipeline的表里，但是现在无法下载
ext_columns = ['school_labels_cv', 'school_labels_jd', 'expectlocation_range_cv', 'location_range_jd', 'degree_index_cv', 'degree_index_jd', 'workyear_range_jd', 'gender_index_cv', 'job_intentstatus_cv']

# 这些特征在原始的cv和jd表里
raw_columns = ['age', 'recruit_number', 'workYear', 'min_annual_salary', 'max_annual_salary', 'pay_months', 'currentSalary', 'desiredSalary']

# 这些特征的过程已经有了，需要进一步拼接
new_columns = ['position_tfidf_pca', 'skills_tfidf_pca', 'jobTracks_tfidf_pca', 'title_category_tags_tfidf_pca', 'description_tfidf_pca', 'requirement_tfidf_pca', 'work_duration_mean', 'equal_words', 'equal_job']

# 将以上的特征合理分散在wide和deep侧
wide_columns = []
deep_columns = []

In [9]:
all_data[['cv_id', 'jd_id']+raw_columns]

,cv_id,jd_id,age,recruit_number,workYear,min_annual_salary,max_annual_salary,pay_months,currentSalary,desiredSalary
0,2c9207157bf91042017c0d2beef00470,2c9207157bcbb76b017bcde2b46d04cd,36.0,1,13.0,80.0,150.0,NaN,NaN,NaN
1,2c9207157bf91042017c0d979cbb047d,2c9207157bcbb76b017bf7f2bbbb3153,29.0,1,7.0,28.0,35.0,NaN,NaN,NaN
2,2c9207157bf91042017c7232fbab3be1,2c9207157bf94d99017c108f769405e0,NaN,1,14.0,25.0,35.0,NaN,NaN,NaN
3,2c9207157d308592017d4a94cb1113a1,2c9207157d2f0ec5017d5a9265ba33d9,27.0,1,3.0,60.0,500.0,NaN,NaN,NaN
4,2c9207157dabb0a3017dbca16cdf4c26,2c9207157d631abb017d6eed1c79139f,28.0,1,5.0,NaN,NaN,12.0,保密,25 - 30k · 15薪
...,...,...,...,...,...,...,...,...,...,...
83296,8a69f60582c8626e0182c9fc367050e6,8a69c4df82b081d30182c391c1f51bfc,31.0,1,11.0,NaN,NaN,12.0,"月薪2.98左右,15薪",合理涨幅
83297,8a69f60582c8626e0182cedb7ca86dc8,8a69c47b82b07fdc0182b3dcd51b7a71,36.0,5,14.0,NaN,NaN,12.0,12万（10000元/月*,10K~13K
83298,8a69f61382b080760182c37a984f3a9a,2c92071580dd3ab70180f18714e119c0,27.0,30,5.0,NaN,NaN,14.0,18k,20-25k
83299,8a69f64782e59cc90182f37791dc6649,8a69d77e82926b410182b011869b3b74,43.0,1,16.0,NaN,NaN,13.0,90万,90万
83300,8a69f68b827cca09018284d2bd4d2958,2c92071581900df301819064f39848b3,32.0,1,10.0,NaN,NaN,12.0,NaN,30-60K●

## tfidf_pca

In [1]:
import pandas as pd
# 读入20220821所有数据
all_data = pd.read_csv('../data_20220831/raw_cvjd_20220831_spark.csv').drop(['Unnamed: 0'], axis=1)

/var/folders/99/wft1658s2mv39cv4wj_rcpqh0000gp/T/ipykernel_28916/358587841.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  all_data = pd.read_csv('../data/all_sample_20220821_spark.csv').drop(['Unnamed: 0'], axis=1)

In [2]:
sample = all_data

# 需要将这个向量变成一个列表
def tfidf_pca_merge_fun(series):
    return list(series)

tfidf_pca_file = ['description_tfidf_pca.csv', 'position_tfidf_pca.csv', 'requirement_tfidf_pca.csv', 'skills_tfidf_pca.csv', 'title_category_tags_tfidf_pca.csv']
for csv_file in tfidf_pca_file:
    tfidf_pca = pd.read_csv('../data_20220831/'+csv_file).drop(['Unnamed: 0'], axis=1)
    print(csv_file)
    #print(tfidf_pca)
    col_name = csv_file.strip('.csv') # 把skills的s去掉了
    tfidf_pca[col_name] = tfidf_pca.apply(tfidf_pca_merge_fun, axis=1)
    sample = pd.concat([sample, tfidf_pca[[col_name]]], axis=1)

tfidf_pca_col_names = [csv_file.strip('.csv') for csv_file in tfidf_pca_file]
sample[['cv_id', 'jd_id']+tfidf_pca_col_names]

description_tfidf_pca.csv
position_tfidf_pca.csv
requirement_tfidf_pca.csv
skills_tfidf_pca.csv
title_category_tags_tfidf_pca.csv

,cv_id,jd_id,description_tfidf_pca,position_tfidf_pca,requirement_tfidf_pca,kills_tfidf_pca,title_category_tags_tfidf_pca
0,2c9207157bf91042017c0d2beef00470,2c9207157bcbb76b017bcde2b46d04cd,"[-0.2036062337206435, 0.048274327757322, 0.060...","[-0.0393278200938532, -0.1156517718522584, -0....","[-0.0884550099224587, -0.1255198001313325, -0....","[0.3299248933717911, 0.1647421276349334, 0.188...","[-0.0428002835031876, -0.1584211550818529, -0...."
1,2c9207157bf91042017c0d979cbb047d,2c9207157bcbb76b017bf7f2bbbb3153,"[-0.0922193630086019, 0.0553739702927152, -0.1...","[0.1054180773841507, -0.0263972179315595, -0.0...","[-0.0803609391957365, -0.1239125520897878, -0....","[0.2365059748734542, 0.1136815904753885, -0.23...","[-0.2368437481203857, 0.0858239404855124, -0.2..."
2,2c9207157bf91042017c7232fbab3be1,2c9207157bf94d99017c108f769405e0,"[-0.0731212087673029, -0.1819505382209111, -0....","[-0.0368150744632823, -0.0868620764628543, -0....","[-0.0644952418491031, -0.1617720033381562, -0....","[-0.0915394265067953, -0.1409956060493181, -0....","[-0.1908741363785154, 0.1941298571078743, 0.34..."
3,2c9207157d308592017d4a94cb1113a1,2c9207157d2f0ec5017d5a9265ba33d9,"[-0.0941188847607561, 0.0989579068236976, -0.0...","[0.0490419846480027, -0.0412213763728095, -0.0...","[-0.1351532034332717, 0.1740612193389041, 0.04...","[0.1429876430780753, 0.0219409230262712, -0.14...","[-0.3720984260133064, 0.1912182010657805, -0.3..."
4,2c9207157dabb0a3017dbca16cdf4c26,2c9207157d631abb017d6eed1c79139f,"[0.0394442478713477, -0.0330071782675384, 0.06...","[-0.0271020069629156, -0.1132012426106846, -0....","[-0.0138174189038416, 0.1003273435064088, -0.0...","[-0.0992961449703319, -0.1495964264638832, -0....","[0.0056217550187971, -0.0571648001001755, 0.00..."
...,...,...,...,...,...,...,...
81291,8a69d7c28219945301823d8a08d14e70,8a69f6f8823a93b901823d891b761d51,"[-0.061454010695859, -0.0867970871691909, -0.0...","[-0.0745961612097089, -0.0529118806357184, -0....","[-0.0400398546050934, -0.0616278628416963, 0.0...","[-0.0986273363552968, -0.1820013678668413, -0....","[0.0344861195736259, -0.0468052249094291, 0.05..."
81292,8a69d7c282199453018247bac4a36859,8a69c468826ee9b40182831bedfc5e79,"[-0.1197626293402285, 0.2009878730596399, 0.10...","[-0.0248770952780892, -0.0818758200756602, -0....","[-0.1178366575446526, 0.1256630731223134, 0.14...","[0.0156514071533009, 0.0238285547103318, -0.06...","[0.0151640431728487, -0.0802995343655144, 0.00..."
81293,8a69d7c282199453018247bac4a36859,8a69f6f8823a93b9018247c30aca4e3d,"[-0.1197626293402285, 0.2009878730596399, 0.10...","[-0.0248770952780892, -0.0818758200756602, -0....","[-0.1178366575446526, 0.1256630731223134, 0.14...","[0.0156514071533009, 0.0238285547103318, -0.06...","[-0.0053327004788714, -0.0845578341662708, 0.0..."
81294,8a69d7db826df6c201827b4338cd60c2,2c92071580dd3ab70180f18714e119c0,"[0.4074295016834148, -0.0564815622372111, 0.38...","[-0.3849339451379412, 0.4677351578603559, 0.34...","[0.5339787831331781, 0.0783524285243356, 0.129...","[-0.2529650781905327, 0.1589143771515023, 0.08...","[0.547197647548344, 0.4049099774125437, -0.158..."
81295,8a69f60582b081f50182b33dea795d4d,8a69d77e82926b4101829f733f84545b,"[0.0962443790959399, 0.0300281719549339, -0.01...","[0.0449566443199105, -0.2254351106068469, 0.46...","[-0.0829345919258399, 0.0394422748062975, 0.02...","[0.3542140308696437, 0.0857928997456133, -0.13...","[0.0676621999659858, -0.0846915082015255, 0.02..."

## work_duration

In [3]:
work_duration_mean_df = pd.read_csv('../data_20220831/work_duration_mean.csv').drop(['Unnamed: 0'], axis=1)

sample = pd.concat([sample, work_duration_mean_df], axis=1)

columns = ['cv_id', 'jd_id'] + tfidf_pca_col_names + ['work_duration_mean']
sample[columns]

,cv_id,jd_id,description_tfidf_pca,position_tfidf_pca,requirement_tfidf_pca,kills_tfidf_pca,title_category_tags_tfidf_pca,work_duration_mean
0,2c9207157bf91042017c0d2beef00470,2c9207157bcbb76b017bcde2b46d04cd,"[-0.2036062337206435, 0.048274327757322, 0.060...","[-0.0393278200938532, -0.1156517718522584, -0....","[-0.0884550099224587, -0.1255198001313325, -0....","[0.3299248933717911, 0.1647421276349334, 0.188...","[-0.0428002835031876, -0.1584211550818529, -0....",1209.500000
1,2c9207157bf91042017c0d979cbb047d,2c9207157bcbb76b017bf7f2bbbb3153,"[-0.0922193630086019, 0.0553739702927152, -0.1...","[0.1054180773841507, -0.0263972179315595, -0.0...","[-0.0803609391957365, -0.1239125520897878, -0....","[0.2365059748734542, 0.1136815904753885, -0.23...","[-0.2368437481203857, 0.0858239404855124, -0.2...",506.000000
2,2c9207157bf91042017c7232fbab3be1,2c9207157bf94d99017c108f769405e0,"[-0.0731212087673029, -0.1819505382209111, -0....","[-0.0368150744632823, -0.0868620764628543, -0....","[-0.0644952418491031, -0.1617720033381562, -0....","[-0.0915394265067953, -0.1409956060493181, -0....","[-0.1908741363785154, 0.1941298571078743, 0.34...",811.500000
3,2c9207157d308592017d4a94cb1113a1,2c9207157d2f0ec5017d5a9265ba33d9,"[-0.0941188847607561, 0.0989579068236976, -0.0...","[0.0490419846480027, -0.0412213763728095, -0.0...","[-0.1351532034332717, 0.1740612193389041, 0.04...","[0.1429876430780753, 0.0219409230262712, -0.14...","[-0.3720984260133064, 0.1912182010657805, -0.3...",76.500000
4,2c9207157dabb0a3017dbca16cdf4c26,2c9207157d631abb017d6eed1c79139f,"[0.0394442478713477, -0.0330071782675384, 0.06...","[-0.0271020069629156, -0.1132012426106846, -0....","[-0.0138174189038416, 0.1003273435064088, -0.0...","[-0.0992961449703319, -0.1495964264638832, -0....","[0.0056217550187971, -0.0571648001001755, 0.00...",1034.000000
...,...,...,...,...,...,...,...,...
81291,8a69d7c28219945301823d8a08d14e70,8a69f6f8823a93b901823d891b761d51,"[-0.061454010695859, -0.0867970871691909, -0.0...","[-0.0745961612097089, -0.0529118806357184, -0....","[-0.0400398546050934, -0.0616278628416963, 0.0...","[-0.0986273363552968, -0.1820013678668413, -0....","[0.0344861195736259, -0.0468052249094291, 0.05...",91.000000
81292,8a69d7c282199453018247bac4a36859,8a69c468826ee9b40182831bedfc5e79,"[-0.1197626293402285, 0.2009878730596399, 0.10...","[-0.0248770952780892, -0.0818758200756602, -0....","[-0.1178366575446526, 0.1256630731223134, 0.14...","[0.0156514071533009, 0.0238285547103318, -0.06...","[0.0151640431728487, -0.0802995343655144, 0.00...",1234.857143
81293,8a69d7c282199453018247bac4a36859,8a69f6f8823a93b9018247c30aca4e3d,"[-0.1197626293402285, 0.2009878730596399, 0.10...","[-0.0248770952780892, -0.0818758200756602, -0....","[-0.1178366575446526, 0.1256630731223134, 0.14...","[0.0156514071533009, 0.0238285547103318, -0.06...","[-0.0053327004788714, -0.0845578341662708, 0.0...",1234.857143
81294,8a69d7db826df6c201827b4338cd60c2,2c92071580dd3ab70180f18714e119c0,"[0.4074295016834148, -0.0564815622372111, 0.38...","[-0.3849339451379412, 0.4677351578603559, 0.34...","[0.5339787831331781, 0.0783524285243356, 0.129...","[-0.2529650781905327, 0.1589143771515023, 0.08...","[0.547197647548344, 0.4049099774125437, -0.158...",598.666667
81295,8a69f60582b081f50182b33dea795d4d,8a69d77e82926b4101829f733f84545b,"[0.0962443790959399, 0.0300281719549339, -0.01...","[0.0449566443199105, -0.2254351106068469, 0.46...","[-0.0829345919258399, 0.0394422748062975, 0.02...","[0.3542140308696437, 0.0857928997456133, -0.13...","[0.0676621999659858, -0.0846915082015255, 0.02...",814.000000

## equal_words

In [4]:
equal_job_df = pd.read_csv('../data_20220831/equal_job.csv').drop(['Unnamed: 0'], axis=1)

sample = pd.concat([sample, equal_job_df], axis=1)

columns = ['cv_id', 'jd_id'] + tfidf_pca_col_names + ['work_duration_mean'] + ['equal_job']
sample[columns]

,cv_id,jd_id,description_tfidf_pca,position_tfidf_pca,requirement_tfidf_pca,kills_tfidf_pca,title_category_tags_tfidf_pca,work_duration_mean,equal_job
0,2c9207157bf91042017c0d2beef00470,2c9207157bcbb76b017bcde2b46d04cd,"[-0.2036062337206435, 0.048274327757322, 0.060...","[-0.0393278200938532, -0.1156517718522584, -0....","[-0.0884550099224587, -0.1255198001313325, -0....","[0.3299248933717911, 0.1647421276349334, 0.188...","[-0.0428002835031876, -0.1584211550818529, -0....",1209.500000,3
1,2c9207157bf91042017c0d979cbb047d,2c9207157bcbb76b017bf7f2bbbb3153,"[-0.0922193630086019, 0.0553739702927152, -0.1...","[0.1054180773841507, -0.0263972179315595, -0.0...","[-0.0803609391957365, -0.1239125520897878, -0....","[0.2365059748734542, 0.1136815904753885, -0.23...","[-0.2368437481203857, 0.0858239404855124, -0.2...",506.000000,4
2,2c9207157bf91042017c7232fbab3be1,2c9207157bf94d99017c108f769405e0,"[-0.0731212087673029, -0.1819505382209111, -0....","[-0.0368150744632823, -0.0868620764628543, -0....","[-0.0644952418491031, -0.1617720033381562, -0....","[-0.0915394265067953, -0.1409956060493181, -0....","[-0.1908741363785154, 0.1941298571078743, 0.34...",811.500000,0
3,2c9207157d308592017d4a94cb1113a1,2c9207157d2f0ec5017d5a9265ba33d9,"[-0.0941188847607561, 0.0989579068236976, -0.0...","[0.0490419846480027, -0.0412213763728095, -0.0...","[-0.1351532034332717, 0.1740612193389041, 0.04...","[0.1429876430780753, 0.0219409230262712, -0.14...","[-0.3720984260133064, 0.1912182010657805, -0.3...",76.500000,3
4,2c9207157dabb0a3017dbca16cdf4c26,2c9207157d631abb017d6eed1c79139f,"[0.0394442478713477, -0.0330071782675384, 0.06...","[-0.0271020069629156, -0.1132012426106846, -0....","[-0.0138174189038416, 0.1003273435064088, -0.0...","[-0.0992961449703319, -0.1495964264638832, -0....","[0.0056217550187971, -0.0571648001001755, 0.00...",1034.000000,1
...,...,...,...,...,...,...,...,...,...
81291,8a69d7c28219945301823d8a08d14e70,8a69f6f8823a93b901823d891b761d51,"[-0.061454010695859, -0.0867970871691909, -0.0...","[-0.0745961612097089, -0.0529118806357184, -0....","[-0.0400398546050934, -0.0616278628416963, 0.0...","[-0.0986273363552968, -0.1820013678668413, -0....","[0.0344861195736259, -0.0468052249094291, 0.05...",91.000000,2
81292,8a69d7c282199453018247bac4a36859,8a69c468826ee9b40182831bedfc5e79,"[-0.1197626293402285, 0.2009878730596399, 0.10...","[-0.0248770952780892, -0.0818758200756602, -0....","[-0.1178366575446526, 0.1256630731223134, 0.14...","[0.0156514071533009, 0.0238285547103318, -0.06...","[0.0151640431728487, -0.0802995343655144, 0.00...",1234.857143,3
81293,8a69d7c282199453018247bac4a36859,8a69f6f8823a93b9018247c30aca4e3d,"[-0.1197626293402285, 0.2009878730596399, 0.10...","[-0.0248770952780892, -0.0818758200756602, -0....","[-0.1178366575446526, 0.1256630731223134, 0.14...","[0.0156514071533009, 0.0238285547103318, -0.06...","[-0.0053327004788714, -0.0845578341662708, 0.0...",1234.857143,4
81294,8a69d7db826df6c201827b4338cd60c2,2c92071580dd3ab70180f18714e119c0,"[0.4074295016834148, -0.0564815622372111, 0.38...","[-0.3849339451379412, 0.4677351578603559, 0.34...","[0.5339787831331781, 0.0783524285243356, 0.129...","[-0.2529650781905327, 0.1589143771515023, 0.08...","[0.547197647548344, 0.4049099774125437, -0.158...",598.666667,5
81295,8a69f60582b081f50182b33dea795d4d,8a69d77e82926b4101829f733f84545b,"[0.0962443790959399, 0.0300281719549339, -0.01...","[0.0449566443199105, -0.2254351106068469, 0.46...","[-0.0829345919258399, 0.0394422748062975, 0.02...","[0.3542140308696437, 0.0857928997456133, -0.13...","[0.0676621999659858, -0.0846915082015255, 0.02...",814.000000,1

## salary

In [5]:
salary_df = pd.read_csv('../data_20220831/salary.csv').drop(['Unnamed: 0'], axis=1)

sample = pd.concat([sample, salary_df], axis=1)

columns = ['cv_id', 'jd_id'] + tfidf_pca_col_names + ['work_duration_mean'] + ['equal_job'] + ['parsed_desiredSalary', 'parsed_currentSalary']
sample[columns]

,cv_id,jd_id,description_tfidf_pca,position_tfidf_pca,requirement_tfidf_pca,kills_tfidf_pca,title_category_tags_tfidf_pca,work_duration_mean,equal_job,parsed_desiredSalary,parsed_currentSalary
0,2c9207157bf91042017c0d2beef00470,2c9207157bcbb76b017bcde2b46d04cd,"[-0.2036062337206435, 0.048274327757322, 0.060...","[-0.0393278200938532, -0.1156517718522584, -0....","[-0.0884550099224587, -0.1255198001313325, -0....","[0.3299248933717911, 0.1647421276349334, 0.188...","[-0.0428002835031876, -0.1584211550818529, -0....",1209.500000,3,-1,-1
1,2c9207157bf91042017c0d979cbb047d,2c9207157bcbb76b017bf7f2bbbb3153,"[-0.0922193630086019, 0.0553739702927152, -0.1...","[0.1054180773841507, -0.0263972179315595, -0.0...","[-0.0803609391957365, -0.1239125520897878, -0....","[0.2365059748734542, 0.1136815904753885, -0.23...","[-0.2368437481203857, 0.0858239404855124, -0.2...",506.000000,4,-1,-1
2,2c9207157bf91042017c7232fbab3be1,2c9207157bf94d99017c108f769405e0,"[-0.0731212087673029, -0.1819505382209111, -0....","[-0.0368150744632823, -0.0868620764628543, -0....","[-0.0644952418491031, -0.1617720033381562, -0....","[-0.0915394265067953, -0.1409956060493181, -0....","[-0.1908741363785154, 0.1941298571078743, 0.34...",811.500000,0,-1,-1
3,2c9207157d308592017d4a94cb1113a1,2c9207157d2f0ec5017d5a9265ba33d9,"[-0.0941188847607561, 0.0989579068236976, -0.0...","[0.0490419846480027, -0.0412213763728095, -0.0...","[-0.1351532034332717, 0.1740612193389041, 0.04...","[0.1429876430780753, 0.0219409230262712, -0.14...","[-0.3720984260133064, 0.1912182010657805, -0.3...",76.500000,3,-1,-1
4,2c9207157dabb0a3017dbca16cdf4c26,2c9207157d631abb017d6eed1c79139f,"[0.0394442478713477, -0.0330071782675384, 0.06...","[-0.0271020069629156, -0.1132012426106846, -0....","[-0.0138174189038416, 0.1003273435064088, -0.0...","[-0.0992961449703319, -0.1495964264638832, -0....","[0.0056217550187971, -0.0571648001001755, 0.00...",1034.000000,1,450,-1
...,...,...,...,...,...,...,...,...,...,...,...
81291,8a69d7c28219945301823d8a08d14e70,8a69f6f8823a93b901823d891b761d51,"[-0.061454010695859, -0.0867970871691909, -0.0...","[-0.0745961612097089, -0.0529118806357184, -0....","[-0.0400398546050934, -0.0616278628416963, 0.0...","[-0.0986273363552968, -0.1820013678668413, -0....","[0.0344861195736259, -0.0468052249094291, 0.05...",91.000000,2,-1,-1
81292,8a69d7c282199453018247bac4a36859,8a69c468826ee9b40182831bedfc5e79,"[-0.1197626293402285, 0.2009878730596399, 0.10...","[-0.0248770952780892, -0.0818758200756602, -0....","[-0.1178366575446526, 0.1256630731223134, 0.14...","[0.0156514071533009, 0.0238285547103318, -0.06...","[0.0151640431728487, -0.0802995343655144, 0.00...",1234.857143,3,-1,-1
81293,8a69d7c282199453018247bac4a36859,8a69f6f8823a93b9018247c30aca4e3d,"[-0.1197626293402285, 0.2009878730596399, 0.10...","[-0.0248770952780892, -0.0818758200756602, -0....","[-0.1178366575446526, 0.1256630731223134, 0.14...","[0.0156514071533009, 0.0238285547103318, -0.06...","[-0.0053327004788714, -0.0845578341662708, 0.0...",1234.857143,4,-1,-1
81294,8a69d7db826df6c201827b4338cd60c2,2c92071580dd3ab70180f18714e119c0,"[0.4074295016834148, -0.0564815622372111, 0.38...","[-0.3849339451379412, 0.4677351578603559, 0.34...","[0.5339787831331781, 0.0783524285243356, 0.129...","[-0.2529650781905327, 0.1589143771515023, 0.08...","[0.547197647548344, 0.4049099774125437, -0.158...",598.666667,5,336,300
81295,8a69f60582b081f50182b33dea795d4d,8a69d77e82926b4101829f733f84545b,"[0.0962443790959399, 0.0300281719549339, -0.01...","[0.0449566443199105, -0.2254351106068469, 0.46...","[-0.0829345919258399, 0.0394422748062975, 0.02...","[0.3542140308696437, 0.0857928997456133, -0.13...","[0.0676621999659858, -0.0846915082015255, 0.02...",814.000000,1,-1,300

## 数据集划分，剔除复推集